[2016-03-19 15:53] mike4aday opened #1 "Comments not relevant"
Authentication.swift lines 31-32 have irrelevant comments

[2016-04-17 01:12] mike4aday opened #2 "OAuth2Manager revoke( ) method should check for error before creating one in event of failure"
OAuth2Manager.revoke( ) (lines 148-151) assumes that there will be no error, since Salesforce doesn't return any error for GET revoke requests -- but if there is a network problem (e.g. Internet connection not available) then there will be an NSError. Currently, an Error.ResponseError will be thrown in all cases, in effect "hiding" the network error.

[2016-06-08 14:54] mike4aday opened #3 "Enable customizable query string params in authorization URL"
Use case: Community-based authorization with conditional UI display based on query string params in the authorization URL

[2016-06-08 14:57] mike4aday commented on #3
See https://twitter.com/mike4aday/status/740297473109970944

[2016-08-04 13:33] mike4aday commented on #1
Fixed in version 2.0.1

[2016-08-04 13:33] #1 closed

[2016-08-08 22:03] hmuronaka opened #4 "Couldn't install using pod."
Hi, I tried to install SwiftlySalesforce 2.0.1 but I coudn't.
I think that the git-tag 2.0.1 does not exist.

Thanks,

[2016-08-09 19:43] mike4aday commented on #4
@hmuronaka sorry, I pushed the tag 2.0.1 now. Let me know if you're able to install Swiftly Salesforce.

[2016-08-09 19:43] #4 closed

[2016-08-10 00:39] hmuronaka commented on #4
It worked - thank you!!

[2016-08-24 14:40] codefriar opened #5 "Given any thought to using Moya?"
Any interest in working to develop a generic SF moya provider that can be used with RX swift?

[2016-08-24 18:16] mike4aday commented on #5
@codefriar I had considered RX Swift, but not yet Moya. Let's discuss more.

[2016-08-24 18:16] #5 closed

[2016-09-26 10:38] AshishAlva opened #8 "Swift 3.0 support"
Supporting Swift 3.0 and latest dependencies (PromiseKit and LockSmith).

[2016-09-26 12:37] Lufthummel commented on #8
Hi Ashish,
please look at my fork for Swift3 support: I was able to compile and run applications but the version still needs more testing. You can use Carthage, it will resolve dependencies to latest Alamofire & Promisekit. Swift3 is already on Master in this fork.

I know that Mike is working on it, he will incorporate the required changes soon.

[2016-09-26 17:37] mike4aday commented on #8
Thanks @Lufthummel -- @AshishAlva I am working on updating Swiftly Salesforce to support Swift 3, and the corresponding updates to PromiseKit and LockSmith.

[2016-10-01 21:34] mike4aday opened #9 "Notify caller if failure to save to keychain"
In the unlikely event that persisting credentials to the keychain fails, the calling method is not notified. The consequence is that on next use of the application, the user will be asked to log in again, rather than using the refresh token to get a new session ID from Salesforce.

Need a way to notify the caller that keychain persistence failed.

[2016-10-27 01:51] mike4aday commented on #8
Swiftly Salesforce 3.0.0 released, includes support for Swift 3

[2016-10-27 01:51] #8 closed

[2016-10-27 14:28] elliottbolzan opened #11 "Support for TLS 1.1?"
This is more of a question than issue: does SwiftlySalesforce support the switch to TLS 1.1 that Salesforce is pushing through? If so, since what version of SwiftlySalesforce is the case? I'm trying to determine whether I need to rebuild (and perhaps modify) an app that was built on SwiftlySalesforce this summer. Thank you!

[2016-10-28 00:51] mike4aday commented on #11
Hi @elliottbolzan - yes, Swiftly Salesforce supports Salesforce's move to TLS 1.1, and has since the first version, so no re-build necessary.

You can confirm that your existing app will work with TLS 1.1 per this article:
https://help.salesforce.com/apex/HTViewSolution?id=000221207

[2016-10-28 00:52] #11 closed

[2016-11-03 18:06] mike4aday opened #12 "Add Carthage support"

[2016-11-03 18:07] mike4aday opened #13 "Add sObject 'describe' router enum & response model object"

[2016-11-23 06:55] pbrondum opened #15 "Documentation on salesforce.insert incorrectly mandates 'Id' as input field"
See salesforce.swift (look for insert). Id should not be part of the call.

Router.insert correctly states the API without 'Id'.

[2016-11-23 17:47] mike4aday commented on #15
Fixed in version 3.1.1

[2016-11-23 17:47] #15 closed

[2016-11-23 21:03] mike4aday commented on #15
Thank you, @pbrondum - should be corrected in newly-released version 3.1.1

[2016-11-29 10:00] pbrondum opened #16 "Can't access object EventAttendee from Swiftlysalesforce."
soql="SELECT AttendeeId  FROM EventAttendee where EventId = '00U5000000QbKtCEAV'"
return salesforce.query(soql: soql)

catch results in:

error: Salesforce response failure. Code: INVALID_TYPE. Message: sObject type 'EventAttendee' is not supported.. Fields: []

[2016-11-29 14:00] mike4aday commented on #16
Which version of the Salesforce API are you using? By default, Swiftly Salesforce uses version 38.0, the latest version available as of today. You can change the version used by setting ```Salesforce.version``` or by adding a version argument to ```configureSalesforce( )``` in your app delegate.

Source: [https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_objects_eventattend

[2016-11-29 14:04] #16 closed

[2016-11-30 18:11] pbrondum commented on #16
Thank you for looking into this and quickly.

I had made the mistake of testing queries on the (old) Force.com explorer.
Looks like that is built on an old version, as you pointed out, and not
updated.  I switched to Workbench.

Happy to state that all my (complex) queries have been migrated to Swiftly
now.

Thanks again for your help,

Per

On Tue, Nov 29, 2016 at 6:00 AM, Michael Epstein <notifi

[2016-11-30 22:58] mike4aday commented on #16
@pbrondum You're very welcome. Glad to hear it's working.

[2016-12-08 10:05] helloniklas opened #17 "Question. Will this work with the Chatter API"
HI, I'm new to Salesforce. Is SwiftlySalesforce something that will work with the Chatter API? Or is that a whole different API.

[2016-12-08 13:27] mike4aday commented on #17
Hi @helloniklas - Yes, Swiftly Salesforce will work with the Chatter API.

There's not currently a Chatter-specific method for interacting with Chatter API resources, so you can use the generic Salesforce.custom( ) method (see line 176 in [Salesforce.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Pod/Classes/Salesforce.swift)).

For example: to retrieve a user's Chatter profile

[2016-12-08 13:49] mike4aday commented on #17
@helloniklas BTW there's a great tool for working with Salesforce APIs, including the Chatter API: [Workbench](https://workbench.developerforce.com)

See especially Workbench's [REST Explorer](https://workbench.developerforce.com/restExplorer.php)

[2016-12-08 13:49] #17 closed

[2016-12-08 14:28] helloniklas commented on #17
Brilliant, all works thanks very much. Was trying the apexRest earlier...

[2016-12-08 16:34] helloniklas opened #18 "How to use SFPushNotificationManager in Swiftly"
So I'm able to send a test push to the device from the Salesforce console... However, I believe I'm meant to use the SFPushNotificationManager to get the device token into the User object in salesforce.

Is SFPushNotificationManager not available in SwiftlySalesforce. Will I have to use and auth with the SalesforceMobileSDK-iOS in order to do this?

[2016-12-08 17:58] mike4aday commented on #18
@helloniklas Swiftly Salesforce doesn't (yet) support push notifications. I'd welcome a pull request adding push notification support :-)

[2016-12-08 18:15] mike4aday commented on #18
@helloniklas have you already seen this: https://developer.salesforce.com/docs/atlas.en-us.pushImplGuide.meta/pushImplGuide/pns_using_chatter_rest_api.htm

[2016-12-08 18:16] #18 closed

[2016-12-08 19:41] helloniklas commented on #18
@mike4aday I did read through that, but what I'm after is being able to push out from Salesforce Chatter to devices when say a new post is made to a group. That seems to be more for sending from device to device.

Is there a manual way to save the device push token on the User object, or the Chatter User? With out using the whole SFPushNotificationManager?

[2016-12-09 01:08] mike4aday commented on #18
@helloniklas I've not worked with push notifications on the platform - what is the name of the field where you'd save the push token? You could use Swiftly Salesforce to update a field on the User object, or any object & field, for which the logged in user has update permission:

[code]

[2016-12-09 12:04] helloniklas commented on #18
Thanks, will look into it. Looking at their SDK it seems they're calling services/data/v36.0/sobjects/MobilePushServiceDevice
sending
`NSDictionary* bodyDict = @{@"ConnectionToken":_deviceToken, @"ServiceType":@"Apple"};`

[2016-12-09 13:14] mike4aday commented on #18
@helloniklas you could use the `Salesforce.custom` method to call that:

[code]

If it's a POST request, set the `method` argument to `.post` (and you could use "v38.0" in the path to get the latest version of the resource, though it's likely unchanged since version 36.0)

Let me know if/how you get this to work and I'll update the framework to make it easier.

[2016-12-15 02:51] mike4aday commented on #13
Added object 'describe' (metadata) support with release of version 3.2.0

[2016-12-15 02:51] #13 closed

[2017-01-03 02:52] aparente99 opened #19 "Authorization Not Working"
I am completely unsure why authorization is not working for me..

Not working with example app or my integrated app.

I am taken to the callbackURL, but then after that the safari view controller is not dismissed and the app does not retrieve the token.

[2017-01-03 02:58] mike4aday commented on #19
@aparente99 did you register the callback URL's scheme with iOS?
See: https://github.com/mike4aday/SwiftlySalesforce#register-your-connected-apps-callback-url-scheme-with-ios

[2017-01-03 04:13] aparente99 commented on #19
Yes, this was the issue!

Thank you so much

[2017-01-03 04:37] mike4aday commented on #19
@aparente99 You're very welcome!

[2017-01-03 04:37] #19 closed

[2017-01-04 10:39] bia-nca opened #20 "Question: Is it possible to use SwiftlySalesforce for a Bulk Api call?"
Is it possible to call the Bulk Api with this framework? If yes, how? Thanks

[2017-01-04 15:19] mike4aday commented on #20
@bia-nca - You could call Swiftly Salesforce with the Bulk API, using the `custom` method on line 206 of [Salesforce.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Pod/Classes/Salesforce.swift). You'd create a job and add batches as needed.

Can I ask the use case? Since the Bulk API is for uploading large amounts of data, which isn't typically present on a mobile device, is it

[2017-01-05 14:56] bia-nca commented on #20
@mike4aday thanks. I will try it.

I want to transfer several large generated csv-files.

[2017-01-10 16:18] #20 closed

[2017-01-16 12:54] knoppkirrie opened #21 "Is it possible to read accessToken"
Hi,
is it possible to read the accessToken of my current session? I want to download a user's profile picture and need that token to retrieve the full photo url.
Thanks in advance

[2017-01-16 14:41] mike4aday commented on #21
Hi @knoppkirrie - you could read the access token for the current session like this:
`let accessToken = salesforce.authManager.authData?.accessToken`

[2017-01-16 15:12] #21 closed

[2017-01-16 15:47] knoppkirrie commented on #21
Thanks a lot, that was exactly what I was looking for.

[2017-01-16 17:59] biskit commented on #12
+1

[2017-01-16 21:07] mike4aday commented on #12
Thanks @biskit - I'm not familiar with Carthage, so I've been procrastinating on this one. I'll bump it up the priority list to get Carthage support added.

[2017-01-27 09:02] NanostuffsTech opened #22 "Not able to open another URL of SF after opening login URL on Safari controller"
Hi,

I'm using swiftly salesforce to for login to salesforce account from my iPhone app using Swift 3.0. I have followed this SwiftlySalesforce link.

Here swiftly salesforce replaces your rootviewController with SFSafariViewController. Once login is done it will replace safari view controller with your initial rootviewController. I'm able to get all details of user from which I have logged in. No

[2017-01-27 09:06] NanostuffsTech commented on #22
So basically I don't want to use any API rather I want to open URL to show content. Let me know if that's possible and how?

[2017-01-27 15:00] mike4aday commented on #22
Hi @NanostuffsTech - not sure I understand what you're trying to do, but it sounds like you are building a web app, not a native iOS app. Is that correct? If so, then it would be better to build your app within Salesforce1. Can you share more details?

[2017-01-27 15:03] mike4aday commented on #22
@NanostuffsTech maybe this will help: you can use the "front door" URL (in some cases) to pass a session ID to a web view: https://help.salesforce.com/articleView?id=000193348&language=en_US&type=1

[2017-01-27 16:14] NanostuffsTech commented on #22
Not really, it's native application only. What I'm trying to do is, login to Salesforce using Swiftly Salesforce and then show my own URL of chatter field which we can goto after logging in. But right now what is happening, it's allowing me to login through Safari but when I open my own web view in my controller, it shows me again login page when I try to open chatter field.

So what I want is my

[2017-01-28 16:06] mike4aday commented on #22
Hi @NanostuffsTech: I don't understand what you mean by "open a Chatter field" - but I believe I understand the larger question, i.e. how to pass a session ID to a web view that's loading a protected Salesforce URL. Is that correct? If so, then this might work:

* Authenticate user via Swiftly Salesforce - once authenticated, you can access the current session ID at `salesforce.authManager.authDat

[2017-01-29 12:55] NanostuffsTech commented on #22
Same as login URL, it automatically goes to home page if logged in.
https://kpmg-ceat.cs31.force.com/customers/

On Sat, Jan 28, 2017 at 9:36 PM, Michael Epstein <notifications@github.com>
wrote:

[2017-01-29 13:48] mike4aday commented on #22
@NanostuffsTech try using the access token as session ID with the 'front door' URL per my earlier post.

[2017-01-29 13:50] #22 closed

[2017-02-03 13:28] TrupK commented on #22
Hello,
I have tried with 'front door' by using access token. But it's still not working for me. Any other solustion?
Thanks.

[2017-02-07 00:32] mike4aday commented on #22
Hi @TrupK - in what way is it not working?

Here's a related post: http://salesforce.stackexchange.com/questions/50368/how-to-integrate-salesforce-page-to-native-ios-app

And note also that your connected app has to allow `web` scope to enable web page access: http://salesforce.stackexchange.com/questions/50368/how-to-integrate-salesforce-page-to-native-ios-app

[2017-02-07 21:58] mike4aday commented on #12
Carthage support added with release of version 3.3.2

@biskit FYI

[2017-02-07 21:58] #12 closed

[2017-02-08 03:20] biskit commented on #12
thankyou!  👏

[2017-02-21 19:34] tapdancemobile opened #23 "Swift 3.0 conversion failing"
Hello, I am trying to get this to compile for a test project using XCode 8, Swift 3.0, and iOS 10. The pods are not compiling at the moment?
<img width="490" alt="screen shot 2017-02-21 at 2 33 50 pm" src="https://cloud.githubusercontent.com/assets/298012/23181381/cdade292-f842-11e6-9ce8-e91c2ab37ae0.png">

[2017-02-21 21:18] mike4aday commented on #23
Hi @tapdancemobile which version of Swiftly Salesforce are you using? What is the meaning of "Swift 3.0 conversion" in your issue title - i.e. what are you converting? Swiftly Salesforce v3.0+ works with Swift 3.0.

[2017-02-23 16:04] mike4aday commented on #23
@tapdancemobile I'm closing this issue, but please re-open or continue to comment if you still need help.

[2017-02-23 16:04] #23 closed

[2017-03-05 06:28] pbrondum opened #25 "salesforce.describe does not seem to handle multiple objects"
Example from README suggest that you can retrieve meta data for multiple objects.
"first {
  salesforce.describe(types: ["Account", "Contact", "Task", "CustomObject__c"])"

I can't get multiple objects to work.  Here's the func from Salesforce.swift, suggesting that only one object works:

open func describe(type: String) -> Promise<ObjectDescription> {
		let builder = {
			(authData: AuthData) th

[2017-03-05 14:17] mike4aday commented on #25
@pbrondum the overloaded `describe` method at line 201 of [Salesforce.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Pod/Classes/Salesforce.swift) (and below) takes an array of Salesforce type to describe. Is that method not working for you? Which version of Swiftly Salesforce are you using? This method was added in version 3.3.0.

[code]

[2017-03-05 18:39] pbrondum commented on #25
I was on 3.2. Thanks.

[2017-03-05 18:39] #25 closed

[2017-03-10 05:33] pbrondum opened #26 "Is there a way to get to all Std. Objects in SwiftlySFDC?"
describeGlobal() can be used in Apex.  Any way to get the same in Swiftly?

[2017-03-10 05:46] mike4aday commented on #26
@pbrondum I will add that in an upcoming release - in the meantime, you could use the following:
[code]

[2017-03-10 06:33] pbrondum commented on #26
Michael - thanks for the fast response.

Per

Sent from my iPad

[2017-03-10 21:38] #26 closed

[2017-03-12 22:19] pbrondum opened #27 "OAuth error message confusing to user."
Recently, my testing indicate that the OAuth server (mostly on US weekends) fails with "User authentication required". Attempts to re-authenticate fail as well.  From the code below, looks like 401,403 is the reason.  Could you please elaborate on the root cause, and if it is (as we believe) a server issue, sharpen the error message to the user?

fileprivate func send<T,U>(urlRequest: URLRequest,

[2017-03-13 14:19] mike4aday commented on #27
Hi @pbrondum `SalesforceError.userAuthenticationRequired` is not intended to be exposed to the end user; it is a signal to Swiftly Salesforce that user authentication is required, and Swiftly Salesforce will then display the Salesforce-hosted OAuth authentication and authorization forms.

`Salesforce.userAuthenticationRequired` is thrown whenever Salesforce rejects a request and returns an HTTP st

[2017-03-13 14:22] mike4aday opened #28 "Add method for describeGlobal"

[2017-03-13 14:24] mike4aday opened #29 "Treat 403 errors differently when due to lack of API support or API request limit exceeded"
For example, 403 error caused by Professional Edition without API should be handled differently (e.g. error exposed to end user) than other causes, which result in re-authentication and re-authorization via Salesforce-hosted form. See also Issue #27

[2017-03-13 14:25] mike4aday commented on #27
See issue #29

[2017-03-13 19:40] pbrondum commented on #29
Adding some context:  Availability of API access is one qualifier. I believe the availability of the service (OAuth) should be one too.  Getting the user the pointed message about how to solve the problem is critical.  'User not authenticated' is too broad and forces the user to re-try with no success and causes developers to question their code unnecessarily. Improving the error messages to : 'OA

[2017-03-13 22:56] mike4aday commented on #29
@pbrondum Salesforce will tell us, in the error message field returned in addition to the 403 status code, that the API is not enabled for the org. But other root causes for a 403 error should probably force a re-login, as Swiftly Salesforce currently does.

In other words: a 401 error should always result in re-login via the Salesforce-hosted form; and a 403 error should almost always result in r

[2017-03-14 00:54] pbrondum commented on #29
Agree with what you wrote. But I have been seeing periods from 10-30 minutes, typically over the weekends, where I consistently will get 403, with the same org that always works. Re-trying with credentials gives same error. Feels like it should be explained better to the user or handled by code.

Per

Per Jakobsen

(702) 416 7959
perbrondum@gmail.com

[2017-03-14 02:07] mike4aday commented on #29
@pbrondum in other words, the framework would keep track so that in the event of repeated failures, rather than trying yet again, an error message would get 'surfaced' to the user, i.e. a developer-configurable number of retries before giving up?

In the situation you describe, it sounds like there's a more serious, server-side failure that's difficult to discern on the client side without keeping

[2017-03-14 18:02] pbrondum commented on #29
Michael -- The 403 is all I see. And only once or twice a week.  But it's
painful enough that it should be addressed.

Error 403 is a bucket of failures, one being 'No API'.  "Wrong
credentials', another one, which clearly is not my problem. Since this
happens over the weekends, and eventually resolves itself, I have a feeling
it's related to the OAuth service. Availability of server, of service,

[2017-03-14 20:39] mike4aday commented on #29
@pbrondum

* Swiftly Salesforce does not automatically repeat the request with the same credentials in the event of 403 error. On the contrary, it turns over control to Salesforce, via the OAuth 2 user-agent flow, for authentication and authorization, in order to obtain new tokens.

* Salesforce typically returns a JSON payload, with error code and message, along with the 403 HTTP status code. It

[2017-03-14 20:43] #27 closed

[2017-03-17 19:03] mike4aday commented on #29
@pbrondum another reason for 403 response, unrelated to credentials and where it doesn't make sense to attempt to re-authenticate right away is when the error payload contains 'REQUEST_LIMIT_EXCEEDED' -- exceeding the API request limit might also explain what you see for ~30 minutes on some weekends, especially if you're doing most of your testing & dev within the preceding 24 hours.

I'll update

[2017-03-17 19:26] pbrondum commented on #29
That could explain it.  Your suggestion would be awesome.  Guess we could
query the ORG limits and keep track of usage but that seems excessive for
the client to do.

Thanks,

Per

On Fri, Mar 17, 2017 at 12:03 PM, Michael Epstein <notifications@github.com>
wrote:

--
Rgds,

Per

per brondum jakobsen
perbrondum@gmail.com
+1 (702) 416 7959

[2017-03-17 20:09] mike4aday commented on #29
@pbrondum I'll include the changes in the next release. BTW Salesforce does return API limit info with every response, in the header (below), though Swiftly Salesforce doesn't currently do anything with it.

If I found a useful way to surface the current state of API usage, would you code for it and take different action - or you'd just prefer to know after the limit was exceeded and tell the user

[2017-03-17 20:26] pbrondum commented on #29
I would code against it as it provides additional information, i.e. How close am I to the limit. Red alert at 95% usage etc. We could actually use cached data until the usage has been reset.

Allows me to predict rather than alert. Always better.

Thanks for supporting us!

Per Jakobsen

(702) 416 7959
perbrondum@gmail.com

[2017-03-17 21:37] mike4aday commented on #29
@pbrondum understood. Thanks for the feedback.

[2017-03-17 21:41] mike4aday opened #30 "Do something actionable with API limit info returned in HTTP response"
For example: throw an Error enum if the remaining API capacity falls below a configurable level

[2017-03-30 14:13] mike4aday opened #31 "Better warning when configuration not set"
Redefine Salesforce.configuration with default value and error if that value is used (i.e. if not reset to a valid configuration) with an actionable, more developer-friendly error.

[2017-03-30 14:29] mike4aday opened #32 "Add param to Salesforce.query(soql:) for query batch size"
Default to 2,000.
See: https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/headers_queryoptions.htm

[2017-03-30 15:20] mike4aday opened #33 "Add method to download user profile photo(s)"

[2017-03-30 15:56] mike4aday opened #34 "Model.UserInfo and Model.QueryResult should have public initializers"
... as the other Model structs do

[2017-04-06 06:19] pbrondum commented on #33
We also have a need of getting PhotoUrl's from Cotact. Maybe your could add this as well.

[2017-04-06 16:08] mike4aday opened #35 "Add method to download Contact photo"

[2017-04-06 16:09] mike4aday commented on #33
@pbrondum thanks - added enhancement as issue #35

[2017-04-25 20:55] mike4aday opened #36 "Model.ObjectDescription.keyPrefix should be optional string"
Should be: `public var keyPrefix: String?`

"keyPrefix" could be null in the 'backing' JSON dictionary.

[2017-04-25 22:59] mike4aday opened #37 "Limits resource fails as of Spring '17"
The JSON response from the REST `limits` endpoint now includes Connected App-specific limits in the payload, breaking the parser in SwiftlySalesforce. Breaks in all API versions as of Spring '17.

[2017-04-26 14:33] mike4aday commented on #28
Delivered in SwiftlySalesforce version 3.5.0

[2017-04-26 14:33] #28 closed

[2017-04-26 14:34] mike4aday commented on #36
Fixed in Swiftly Salesforce version 3.5.0. `keyPrefix` now returns an empty string if the retrieved JSON value is `null`. In the next major release of Swiftly Salesforce, `keyPrefix` will become an optional String.

[2017-04-26 14:34] #36 closed

[2017-04-26 14:35] mike4aday commented on #37
Fixed in Swiftly Salesforce version 3.5.0.

[2017-04-26 14:35] #37 closed

[2017-04-26 14:35] mike4aday commented on #34
Delivered in Swiftly Salesforce version 3.5.0.

[2017-04-26 14:35] #34 closed

[2017-04-27 02:52] mike4aday commented on #26
Delivered with Swiftly Salesforce v.3.5.0 (see issue #28).

[2017-04-27 03:34] pbrondum opened #38 "Add method to get longitude/latitude for Contacts"

[2017-04-27 03:34] pbrondum opened #39 "Add method to get longitude/latitude for Accounts"

[2017-04-27 03:47] pbrondum commented on #26
Awesome.

per

On Wed, Apr 26, 2017 at 7:52 PM, Michael Epstein <notifications@github.com>
wrote:

--
Rgds,

Per

per brondum jakobsen
perbrondum@gmail.com
+1 (702) 416 7959

[2017-05-03 04:56] iandrosov opened #40 "Build ERROR with Locksmith 3.0.0 Xcode 8.3.2"
Hello, I try adding SwiftlySalesforce to project pod file after opening generated workspace I see new dependencies been added. But build error with many syntax errors on Locksmith 3.0.0 framework looks like use of _  in function types and NSBundles. Seem Xcode like to add _ on functions? Any solutions for this?

Using Xcode 8.3.2 and Swift 3.1
Apple Swift version 3.1 (swiftlang-802.0.53 clang-802.

[2017-05-03 05:10] mike4aday commented on #40
@iandrosov I'll check into this.

[2017-05-03 05:51] mike4aday commented on #40
@iandrosov I was able to build ok; no errors with Locksmith. Are you building a macOS app?

[2017-05-03 14:01] iandrosov commented on #40
My build target was iOS iPhone 7 on the simulator. The pod install worked fine and I can see all latest libraries. But when try to Build or run the app got unexpected syntax errors only on Locksmith. Other libs seem to be ok

[2017-05-03 14:18] mike4aday commented on #40
@iandrosov Have you already tried quitting and restarting Xcode? Would you try with target of 10.0+ and see if that makes any difference? If not, would you post the version info from your Podfile.lock file?

[2017-05-05 20:45] mike4aday commented on #40
@iandrosov I'll close this for now since I haven't heard back from you and I can't reproduce the issue. If the issue persists after restarting Xcode, please re-open and post the version info from your Podfile.lock file.

[2017-05-05 20:45] #40 closed

[2017-06-04 02:12] pbrondum opened #41 "Add method to expose complianceBccEmail address for org."

[2017-06-07 15:22] mike4aday commented on #29
Fixed in release version 3.5.1.

[2017-06-07 15:22] #29 closed

[2017-06-29 18:05] loopingGIT commented on #19
I am having the same problem I do have configured the info.plist but the callback is never captured.
I do get the permission request, and everything seems fine on SF
This is my info.plist
[code]

[2017-07-11 02:16] mjcuse opened #42 "How many API calls are done per one SOQL statement?"
I just started using this today and made it to work. I've been doing some testing today and I think I executed around 100 or so SOQL statements. Tonight, I received an email that the organization has made 11,800+ API calls within the last 24 hours. I wonder if this can be related to with the use of SwiftlySalesforce or maybe something else. Please let me know and any information can help.

[2017-07-11 02:35] mike4aday commented on #42
@mjcuse SwiftlySalesforce makes only **1** API call per invocation of the method `query(soql: String) -> Promise<QueryResult>`.

That will return up to 2k records - if there are more records in the query's result set, then the `QueryResult` will have a relative URL in the `nextRecordsPath` property, which you could use as an argument to `queryNext(path: String) -> Promise<QueryResult>`.

What is t

[2017-07-11 03:02] mjcuse commented on #42
Thanks @mike4aday for the quick response. Right after I posted my question, I did some investigation and put breakpoints to my code. I noticed that the SOQL statement was called multiple times for a single transaction. It was on loop. I did some changes to my code so that it will only execute the SOQL once for each transaction.

Anyway, I am using "salesforce.query(soql: soql).then{queryResult ->

[2017-07-11 03:44] mike4aday commented on #42
@mjcuse glad to hear you figured it out.

[2017-07-11 03:44] #42 closed

[2017-07-15 15:54] mike4aday commented on #35
Delivered in version 4.0.0. See `Salesforce.getImage` method.

[2017-07-15 15:55] mike4aday commented on #33
Delivered in version 4.0.0. See `Salesforce.getImage` method.

[2017-07-15 15:55] #33 closed

[2017-07-15 15:55] mike4aday commented on #39
Delivered in version 4.0.0. See `Address` struct.

[2017-07-15 15:55] #39 closed

[2017-07-15 15:56] mike4aday commented on #38
Delivered in version 4.0.0. See `Address` struct.

[2017-07-15 15:56] #38 closed

[2017-07-15 16:28] pbrondum commented on #38
Michael -- Upgrading did not work for me.  I did 'pod upgrade swi...' and
it installed 4.0.  Suddenly Salesforce. functions are not recognized??

Thanks,

Per

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Sat, Jul 15, 2017 at 8:56 AM, Michael Epstein <notifications@github.com>
wrote:

[2017-07-15 16:31] mike4aday commented on #38
@pbrondum 4.0.0 is a 'breaking' release. Please see CHANGELOG.md. Which functions are no longer working?

[2017-07-15 16:32] mike4aday commented on #38
@pbrondum the `salesforce` singleton has been removed in order to support multi-user switching and better practice. Your existing code will still work if you define a global variable in your AppDelegate file:

`var salesforce: Salesforce!`

See the first example in the README.md

[2017-07-15 16:33] pbrondum commented on #38
Every function call fails with ‘Use of unresolved identifier ‘salesforce’.  Looks like a build issue.

Per

[2017-07-15 16:37] pbrondum commented on #38
Ok - thanks. I'll add that!

Thanks for the quick reply.

Per

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Sat, Jul 15, 2017 at 9:32 AM, Michael Epstein <notifications@github.com>
wrote:

[2017-07-15 16:38] mike4aday commented on #38
@pbrondum in case our messages crossed paths: the `salesforce` singleton has been removed from SwiftlySalesforce, but you could declare your own, and your existing code should still work (except for a few changed method signatures, like `apex` instead of `apexREST`). See:

https://github.com/mike4aday/SwiftlySalesforce#example-configure-your-app-delegate

[2017-07-15 16:42] mike4aday commented on #35
For an example, see line 68:
https://github.com/mike4aday/SwiftlySalesforce/blob/master/Example/SwiftlySalesforce/MasterViewController.swift

[2017-07-15 16:42] #35 closed

[2017-07-15 17:01] pbrondum commented on #38
OK - that works.  I will look at the changelog file before I email you next
time!

Only error is in the old example code.

                        guard let userID = userInfo.userID else {

                            throw EventForceError.generic(code: 100,
message: "Can't determine user ID")

                        }

You eliminated that code in your example.  Would you replace the above or
fix

[2017-07-15 17:08] pbrondum commented on #38
Figured it out.

Thanks,

Per

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Sat, Jul 15, 2017 at 10:01 AM, Per Brondum Jakobsen <perbrondum@gmail.com

[2017-07-19 07:43] jvashisht opened #43 "after login into salesforce how to redirect to the app ??"

[2017-07-19 12:40] mike4aday commented on #43
@jvashisht There are 3 parts to that:

1) When you define your Connected App in Salesforce, choose a redirect URL with a custom protocol - *not* http or https. It doesn't matter what the URL is. For example: `myapp://go`

2)  Use that redirect URL in your Swift code, as shown in the example at: https://github.com/mike4aday/SwiftlySalesforce#example-configure-your-app-delegate

3) Register the URL

[2017-07-19 12:40] #43 closed

[2017-07-20 20:18] mike4aday commented on #31
Fixed in version 4.0.0 (actually no longer relevant, since configuration is required to initialize the `Salesforce` instance).

[2017-07-20 20:18] #31 closed

[2017-07-27 17:46] pbrondum commented on #35
salesforce.fetchImage(url: photoURL) works well for users and the example is great.
How would it work for Contacts?

[2017-07-28 17:01] mike4aday commented on #35
@pbrondum did you figure out how to get contact photo? In short: retrieve a contact and its PhotoUrl field, then call Salesforce.fetchImage(path:) - (note that Contact.PhotoUrl is a relative path, not a complete URL).

[2017-07-28 18:33] pbrondum commented on #35
I looked at the code and it was pretty straightforward.

Thanks for adding all the enhancements

Per

[2017-07-28 19:11] pbrondum commented on #39
Spelling mistake in Address.

case block = "Blcok"

[2017-07-28 20:43] mike4aday opened #44 "Geocode accuracy enum misspelling"
"Blcok" should be "Block"

[2017-07-28 20:45] mike4aday commented on #39
@pbrondum -- thanks. I'll fix that shortly; opened issue #44

[2017-07-28 22:16] pbrondum commented on #39
Mike - Having problems with the Address feature. I'm trying to get
lati/long coordinates.

Tried:

  }.then {

            let AccSoql = "SELECT ShippingAddress FROM Account"

            return salesforce.query(soql: AccSoql)

        }.then {

            (result: QueryResult) -> () in

            print(result)

            let addresses = result.records.map { Address(json: $0 as [String
: AnyO

[2017-07-28 23:57] mike4aday commented on #39
@pbrondum do you see the latitude and longitude values in the Salesforce UI or via Workbench - the clean rules can take time? Also It looks like your map function is getting the record "root," rather than the Address JSON. Argument should be $0.address(for: "ShippingAddress")

[2017-07-30 20:19] mike4aday commented on #44
Fixed in release 4.0.2.

Thanks @pbrondum

[2017-07-31 01:21] mike4aday commented on #39
@pbrondum I added an example [here](https://github.com/mike4aday/SwiftlySalesforce#example-retrieve-an-accounts-billing-address)

[2017-07-31 01:26] #44 closed

[2017-07-31 09:36] srinathp90 opened #45 "Error in Swift 4 host app"
App throws ''dyld: Library not loaded" error when host target kept as swift language version 4 and SwiftlySalesforce target kept in Swift 3 (in Xcode 9)

dyld: Library not loaded: @rpath/SwiftlySalesforce.framework/SwiftlySalesforce
  Referenced from: /Users/developer/Library/Developer/CoreSimulator/Devices/E8C812E3-D066-42B1-9577-831385897C76/data/Containers/Bundle/Application/6FCB02FF-4668-491B-

[2017-07-31 14:35] mike4aday commented on #45
Thanks @srinathp90 - the framework hasn't been adapted to Swift 4 or Xcode 9 yet - pull requests welcome.

[2017-08-03 04:31] pbrondum commented on #39
No matter how I use your example I get:
Value of type 'Address?' has no member 'longitude'

[2017-08-03 04:52] mike4aday commented on #39
@pbrondum can you post your code?

[2017-08-03 04:56] pbrondum commented on #39
import UIKit
import MapKit
import SwiftlySalesforce
import PromiseKit

final class MasterViewController: UITableViewController {
    var locManager = CLLocationManager()
    var currentLocation: CLLocation!

	override func viewDidLoad() {
		super.viewDidLoad()
		refreshControl?.addTarget(self, action: #selector(MasterViewController.handleRefresh), for: UIControlEvents.valueChanged)
        locMana

[2017-08-03 04:59] mike4aday commented on #39
@pbrondum sorry, `record.address(for: "BillingAddress")` returns an optional address, i.e. `Address?`.

I updated the example code in the README. It now reads:
[code]

Does that work?

[2017-08-05 18:45] pbrondum commented on #39
Now I get the following for both assignments:
'longitude' is inaccessible due to 'internal' protection level

[2017-08-05 20:32] mike4aday commented on #39
@pbrondum sorry again... the member vars should be `public` -- I'll fix ASAP.

[2017-08-05 22:40] pbrondum commented on #39
Easy fix. No rush. Thanks.

Per

[2017-08-06 00:35] mike4aday commented on #39
@pbrondum should be fixed now in version 4.0.3 - `Address` members are explicitly `public`.
Thanks

[2017-09-03 22:57] andrey-manakov opened #46 "Can't make it running"
Hi,

Disclaimer, I am just learning. I couldn't run the SwiftlySalesforce. I managed to run example, but if I create a new project I just see a white screen of my storyboard. What I did:
1. create a project
2. modified app delegate (like in example that working, so that should ok)
3. modified info.plist (like in example that working, so that should ok)
4. installed pods (pod install with pod file

[2017-09-03 23:50] mike4aday commented on #46
Hi @andrey-manakov I wasn't able to open the zip file, but maybe this will help:

Did you make a call to Salesforce? Until your code calls one of the methods in the `Salesforce` class, you'd only see your views. Once you make a call to Salesforce, and if there's not already a valid session token stored in the keychain, then Swiftly Salesforce will display the login form.

Also, you don't need both

[2017-09-04 01:31] pbrondum commented on #46
I was able to open the file.  Follow the README to add login code to the
ViewDidLoad in ViewController.swift.  Configure the consumer key in
AppDelegate.swift and set the proper values in the info.plist.

All documented in the README.

Per

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Sun, Sep 3, 2017 at 4:50 PM, Michael Epstein <notifications@g

[2017-09-04 02:01] mike4aday commented on #46
Thank you @pbrondum

@andrey-manakov be sure you follow the steps shown in the README file at https://github.com/mike4aday/SwiftlySalesforce/blob/master/README.md

[2017-09-04 14:01] #46 closed

[2017-09-04 20:11] andrey-manakov commented on #46
First of all thanks for prompt answer and clarification that I should choose pods or carthage. Meanwhile I checked again the instruction

I couldn’t find the instruction of what should I implement in viewDidLoad of ViewController. In the example ViewController’s viewDidLoad looks just like this:

	override func viewDidLoad() {
		super.viewDidLoad()
		refreshControl?.addTarget(self, action: #select

[2017-09-04 22:03] mike4aday commented on #46
@andrey-manakov by the way, your #7 (tuple arguments) is taken care of in the brand new (today) version 4.0.4.

Everything you did looks fine -- try calling a `salesforce` method in your view controller's `viewDidLoad` method. In the example, `loadData` queries Salesforce for task records.

Once you make a call to Salesforce, Swiftly Salesforce will replace the current view controller from your st

[2017-09-05 08:18] andrey-manakov commented on #46
Thanks! It worked for me finally.

Regarding item 7 side question: where should I report small problems with compile which arise due to the swift changes (some of them in LockSmith, some in Alamofire, some in Swiftly)? And should I, would it help, or you anyway aware about them?

[2017-09-07 00:19] mike4aday commented on #46
@andrey-manakov please open an issue. In case I'm not aware, would be good to know and remedy. Thanks.

[2017-09-09 05:12] mike4aday commented on #45
Swift 4.0 compatibility delivered in version 4.0.3

[2017-09-09 05:12] #45 closed

[2017-10-02 18:20] auctifera-josed opened #47 "Question: How can I access inner query records?"
From a query with an inner query like:
[code]
I'm trying to access the inner records in the 'parser' function like:
[code]
But the `let result = value as? QueryResult` is not working.

[2017-10-02 20:08] mike4aday commented on #47
@auctifera-josed - I'll check into this ASAP.

[2017-10-02 21:37] mike4aday commented on #47
@auctifera-josed 2 things:

* Why the fulfill( ) and reject( ) in the in the first code excerpt? Are you nesting that within another promise?

* Using the dictionary extension (see line 27 [Extension.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Pod/Classes/Extensions.swift)), in your 2nd code excerpt you can just access properties - and the sub query results - as follows:

[co

[2017-10-03 14:32] #47 closed

[2017-11-05 01:26] mike4aday commented on #41
Delivered in version 6.0.0 -- see `Organization` class and `Salesforce.organization( )` method
@pbrondum

[2017-11-05 01:26] #41 closed

[2017-11-07 19:00] pbrondum opened #48 "ObjectDescription replacement?"
var DescribeAll : [String : ObjectDescription]!
 fails in 6.0

[2017-11-08 15:55] mike4aday commented on #48
@pbrondum ObjectDescription became [ObjectMetadata](https://github.com/mike4aday/SwiftlySalesforce/blob/master/SwiftlySalesforce/Classes/ObjectMetadata.swift) in version 6.0

[2017-11-08 15:55] #48 closed

[2017-11-09 02:33] pbrondum commented on #48
Thanks.

Per

[2017-11-10 20:03] pbrondum opened #49 "JSON V5 (codable) fails on nil LastactivityDate"
"dataCorrupted(Swift.DecodingError.Context(codingPath: [SwiftlySalesforce.QueryResult<AccountManager.Account>.CodingKeys.records, Foundation.(_JSONKey in _12768CA107A31EF2DCE034FD75B541C9)(stringValue: \"Index 6\", intValue: Optional(6)), AccountManager.Account.CodingKeys.LastActivityDate], debugDescription: \"Date string does not match format expected by formatter.\", underlyingError: nil))"

We

[2017-11-11 17:37] pbrondum commented on #49
LastActivityDate on Account is a String - I tried to make it a date.  Please close.

[2017-11-11 23:31] mike4aday commented on #49
@pbrondum from the error message, it appears that the issue is that the date format is "MM/DD/YYYY" rather than the longer, date-time format used for CreatedDate, LastModifiedDate, etc.

All dates are represented as strings in the JSON returned from Salesforce, but the default decoder is using the date formatter for the longer, date-time type to decode dates from the strings.

You can solve this b

[2017-11-12 00:05] #49 closed

[2017-11-26 20:02] pbrondum opened #50 "Examples of SOQL with subquery and groups"
Could you please add examples of both
Subquery: "SELECT Id, Name, (SELECT Id, Name FROM Contacts) FROM Account"
and
Grouped: "SELECT Id, count(name) from account"

showing the most elegant way to parse the JSON results.

[2017-11-28 08:09] nishiarya opened #51 "Even after successful pod install project does not run at all"
Hi,

I have created a blank project and successfully able to run pod 'SwiftlySalesforce' to download all the dependencies. All 5 dependencies download correctly and project workspace file created.

I opened workspace and did all setup in "Configure Your App Delegate for Salesforce also provided consumerKey and callback url" as per the instructions given in below link
https://github.com/mike4aday/S

[2017-11-28 15:06] mike4aday commented on #51
@nishiarya The current version of Swiftly Salesforce is v6.0, and it has only 1 dependency, PromiseKit.
It seems you're using a much older version, 2.2.0, correct? Please upgrade your Podfile to use the latest version.

[2017-11-28 15:06] #51 closed

[2017-12-06 17:10] auctifera-josed opened #52 "How to cast [Record] to [Account] in query result"
I'm using custom model objects with multiple queries, so I declared it like:

[code]

My problem is that all the objects are 'Record' and not either 'Account', 'Contact' or 'Lead', I tried a simple `let accounts = results[0].records as? [Account]` which gives me a warning "Cast from '[Record]' to unrelated type '[Account]' always fails"

[2017-12-06 20:28] mike4aday commented on #52
@auctifera-josed the issue is with Swift generics. QueryResult is defined as:
`QueryResult<T: Decodable>: Decodable`

So you could substitute one of your Decodable model objects for `Record` e.g. `QueryResult<Account>` -- but I don't see how you could use 3 Decodable types simultaneously.

Try instead to create 3 separate single-object queries, add them to an array, and use the array as the arg to

[2017-12-07 20:08] #52 closed

[2017-12-15 17:02] bartos00 opened #53 "Could I use this to download a file from salesforce?"
First let me start by saying that this wrapper is incredible! I'm a huge fan!

I'm attempting to connect to Salesforce (custom object) and I would like to download the actual file which is stored in Attachment Body field. When my QueryResult comes back it has the path to my field instead of the base64 encoded string. When I execute my soql at workbench @ developerforce I see the full base64 string

[2017-12-15 23:18] mike4aday commented on #53
Hi @bartos00 could you post the SOQL so I can verify my understanding of what you're trying to do?

Is it image data? And would the method `fetchImage(path: String) -> Promise<UIImage>` work, in line 322 of [Salesforce.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/master/SwiftlySalesforce/Classes/Salesforce.swift)

[2017-12-15 23:42] mike4aday commented on #30
No compelling use cases - could use the `limits` method to get current state of API call quota. Removing from backlog for now.

[2017-12-15 23:42] #30 closed

[2017-12-16 01:29] pbrondum opened #54 "bulk insert"
All salesforce.insert methods are single record. We've attempted bulk inserts, but get cut off after a small number of records.  What's the best way to bulk insert 100-1000 records?

Thanks

[2017-12-16 05:59] bartos00 commented on #53
Hey thanks for the reply...I actually have something working now!  Here is the soql that I was executing previously: "SELECT Attachment__Body__s FROM PS_Partner_Article__kav WHERE Id = 'ka0C0000000kAdsIAE'"...and when that came back in the Workbench (DeveloperForce) it showed up as a base64 string. So just assumed that I could retrieve it back in Swift as a string and then decode the base64 string

[2017-12-16 17:55] mike4aday commented on #54
@pbrondum what do you mean by 'cut off'? What was the error(s)?

There are at least 3 options for 100-1000 records - the standard Salesforce REST API currently only supports 1 insert per call. (I will open an enhancement request for better support within Swiftly Salesforce for multi-record inserts that implements 1+ of the options below.)

1) Use `when(fulfilled:)` with an array of 100-1000 `inser

[2017-12-16 18:04] mike4aday commented on #53
@bartos00 yes, `Salesforce.custom` and converting the resulting `Data` to text is how I'd do it, too.

The `headers` argument is for *additional* headers -- you don't need to put the access token in there since Swiftly Salesforce does that for you before sending the request. In your case, `headers` would be `nil`, just as you did it.

Re. token expiration: the `custom` method will work just like a

[2017-12-16 18:10] mike4aday commented on #53
@bartos00 P.S. I believe the query feature in Workbench uses SOAP, which returns the actual article body. But the REST API returns a path to the article body, as you discovered, rather than the encoded body. I haven't tried this, but I believe if you use the REST explorer in Workbench and submit the SOQL to the REST `query` endpoint, you'll see that you get a path to the body in the result, not th

[2017-12-16 20:08] pbrondum commented on #54
Trying to insert 24 rows. See code below.  It inserts 3 records, log looks
likes everything is fine,  no error(s).  When I rotate the ALL_TEMPLTES
rows, it inserts either the first 3 or the last 3 rows.  ??

Per

 func readClientTemplates(id: String) {

        let ALL_TEMPLATES = [

            "TEXT_MESSAGES_BEFORE_Small",

            "TEXT_MESSAGES_BEFORE_Medium",

            "TEXT_MESSAGES_B

[2017-12-16 23:36] mike4aday commented on #54
@pbrondum try creating an array of promises from `ALL_TEMPLATES` with `map` and then use that array as the argument to `when` -- something like this:

[code]

[2017-12-17 19:40] pbrondum commented on #54
Thanks for the (better) code. Same result however. Turns out the problem
was a required field that was too small to hold the values. That explains
why only certain records worked and the error messages were not helpful.

Please close.

Thanks,

Per

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Sat, Dec 16, 2017 at 3:36 PM, Michael Epstein <notif

[2017-12-17 22:40] #54 closed

[2017-12-18 03:01] bartos00 commented on #53
Ok, now that makes a lot of sense...I feel like I should have thought of that!  ;)

Appreciate your hard work and taking the time to chat with me.

[2017-12-18 03:01] #53 closed

[2017-12-25 07:00] pbrondum opened #55 "organization() does not return organization info"
Should the following not work? (a la identity())
first {
        salesforce.organization()
      }.then {
            (org) -> Promise<Organization> in
            if let nameSpacePrefix = org.nameSpacePrefix {
                print("using namespaceprefix  \(nameSpacePrefix)")
            }
       }

[2017-12-26 22:25] mike4aday commented on #55
@pbrondum what is the error? Is it a compile-time error? Your `then` is not returning a `Promise` so I believe the code will not compile as-is.

[2017-12-27 06:27] pbrondum commented on #55
Isn't org() and organization() supposed to return information from the
organization object just like identity does for the user object?  Or am I
missing something?

Anyway, I'm trying to get nameSpacePrefix from organization() and it does
not return that info. It returns identity information.

Thanks,

Per

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.c

[2017-12-27 06:37] mike4aday commented on #55
@pbrondum would you post your code, and the results?

Your understanding is largely correct. `org( )` returns the promise of an `Organization` struct; `identity( )` returns the promise of an `Identity` struct.

[2017-12-27 07:21] pbrondum commented on #55
Since it looks like organization() uses identity(), and validates the
userid,

open func organization() -> Promise<Organization> {

return identity().then {

(identity: Identity) -> Promise<Organization> in

self.retrieve(type: "Organization", id: identity.orgID)

}

}

I assumed I should be able to do the following:

        first {

            // Get namespaceprefix of current user

[2017-12-27 17:29] mike4aday commented on #55
@pbrondum is that a compile-time error? The correct property name is `Organization.namespacePrefix` -- first "p" is lower-case. See [Organization.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/master/SwiftlySalesforce/Classes/Organization.swift)

`salesforce.organization()` calls `identity()` first in order to get the current user's org ID, and then it retrieves the `Organization` obje

[2017-12-28 00:35] pbrondum commented on #55
In my code above. if you type orginfo. you get a list of Identity
properties, not organization properties. I don't think organization return
the expected properties.

 guard orgInfo.nameSpacePrefix != "" else {

                throw WiWoError.generic(code: 100, message: "Can't
determine nameSpacePrefix for user")
            }

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Ma

[2017-12-28 04:58] mike4aday commented on #55
@pbrondum I will verify shortly. Does your code compile? The property is `namespacePrefix` (first "p" is lowercase). Also note that it is an optional string, so you probably want to test for nil, rather than for empty string.

[2017-12-28 05:14] mike4aday commented on #55
@pbrondum I'm not able to reproduce that; `organization()` and `org()` are both returning a `Promise<Organization>` which is fulfilled correctly. I put a breakpoint on [line 730 in the test file](https://github.com/mike4aday/SwiftlySalesforce/blob/aa4bebaf972deb6f7ff935925d81ad92c79d8e3f/Example/Tests/SalesforceTests.swift#L730), and I do see the expected `Organization` struct.

[2017-12-28 06:22] pbrondum commented on #55
Ok - error must be on my side then.  I'll try again tomorrow. Thanks for
looking into this.

Per

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Wed, Dec 27, 2017 at 9:14 PM, Michael Epstein <notifications@github.com>
wrote:

[2017-12-29 17:05] #55 closed

[2018-01-10 11:42] daichi1021 opened #57 "authData is not initialized when revoking"
Since authData has not been initialized when revoking, there is no way to check if the current session is valid after logout. Is it possible to set authData to nil when calling the logout method?

[2018-01-10 14:29] mike4aday commented on #57
Thanks @daichi1021 - I'll look into this shortly.

[2018-01-11 02:06] daichi1021 commented on #57
Thank you!

If authData does not become nil, if it was offline at application startup, it was not possible to determine whether to proceed or not.

Even when there is time, we will be happy to respond.

[2018-01-11 18:16] mike4aday commented on #57
@daichi1021 - thanks. This is implemented in the new v.6.0.2. The `authData` is cleared in the `revoke` method (see line 216 in [ConnectedApp.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/master/SwiftlySalesforce/Classes/ConnectedApp.swift))

[2018-01-11 18:16] #57 closed

[2018-01-11 18:29] #9 closed

[2018-01-19 10:05] hmuronaka opened #58 "When I include a “+” in the url query parameter in the salesforce.apex mothod, it seems to be replaced by a space on the server."
When I include a “+” in the url query parameter in the salesforce.apex(:method:.get, path,path, queryParameters:) mothod, it seems to be replaced by a space on the server.

When SwiftlySalesforce was in version Alamofire, I could use the “+” character was replaced with the correct value of “%2B” without any problems. Now it is replaced with ” “.

What is the correct way to build my query parameter

[2018-01-19 13:21] mike4aday commented on #58
Thanks @hmuronaka, I'll look into this. To help me reproduce, can you post the code you are using to build the URL.

[2018-01-22 02:15] hmuronaka commented on #58
Please try below queryParameters for reproduce.

[code]

[2018-01-23 15:42] mike4aday commented on #58
Thanks @hmuronaka - resolved with version 6.0.3

[2018-01-23 15:42] #58 closed

[2018-01-23 15:45] mike4aday commented on #58
@hmuronaka FYI you can use the `DateFormatter` extension in Swiftly Salesforce to format dates for Salesforce:

[code]

[2018-01-24 01:15] hmuronaka commented on #58
["date": "2018-01-18T00:55:32.000+0000"] is one of example.
I think escaping is necessary also in cases like ["keyword": "abc + def"] and so on...

Anyway thank you your information and for merging my pullrequest!

[2018-01-24 01:46] mike4aday commented on #58
@hmuronaka indeed. I just meant you could, instead of writing out the date as a string, use:
`DateFormatter.salesforceDateTimeFormatter.string(from: myDateValue)`

Thank *you* for the pull request.

[2018-01-31 08:04] daichi1021 opened #60 "Transition to SafariWebView if the identity method is offline"
If an error occurs in the identity method, it becomes uniform RequestError.userAuthenticationRequired, so if you call it with the iPhone offline, it will transition to SafariWebView.

[2018-02-01 18:26] mike4aday commented on #60
@daichi1021 is this specific to the `identity` call? Any method in the `Salesforce` class should act the same way, no? That is, if you call any method such as `query`, `update` or `insert` the user would get redirected to the Safari web view for login if there isn't a valid token.

This is intentional, though I'm open to a better way. The assumption is that you'll check for connectivity first, and

[2018-02-08 01:15] daichi1021 commented on #60
@mike4aday

thank you for your answer.

I feel that there is a problem unique to the salesforce.identity method.
For example, if you call the salesforce.apex method offline, an offline error will be returned, but if it is salesforce.identity it will transition to SafariWebView.

This is reproduced also when you exchange identity and apex in the same process.

[2018-02-08 22:13] auctifera-josed opened #61 "Close window"
Why doesn't the done button in the login page work? How can I close this window?

[2018-02-08 22:18] mike4aday commented on #60
@daichi1021 thanks for the follow-up. I'll check into this as soon as I can.

[2018-02-08 22:59] mike4aday commented on #61
@auctifera-josed the login page is a web form hosted by Salesforce. The 'done' button essentially has no effect; it's not a modal browser window launched by a browser, as might be the case with authentication on a web app. You could create your own controller, as long as it implements `LoginViewController` protocol, but I don't know how/if you can hook into the 'done' button and react to it.

[2018-02-09 13:18] auctifera-josed commented on #61
I was afraid of that, ok. Thank you for the quick reply.

[2018-02-09 13:18] #61 closed

[2018-02-12 15:17] auctifera-josed opened #62 "OAuth Authorization: Safarit can't open page"
This seems to be related to [issue 19](https://github.com/mike4aday/SwiftlySalesforce/issues/19)

I'm getting a 'Safari can not open the page because the address is not valid' error after logging in.

I have follow all the steps in [Quick Start](https://github.com/mike4aday/SwiftlySalesforce#quick-start):

1. Created a Connected App:

- Scopes: api, id, profile, email, address, phone, refresh_toke

[2018-02-12 20:09] auctifera-josed commented on #62
Turns out the info.plist wasn't being rebuild with each app build so the scheme wasn't registered. I added the URL Type directly to the target under Project Navigator > Project > Select Target > Info tab > Scroll down to URL Types and added an item with identifier SalesforceOAuth2, my scheme and role editor to fix the problem.

[2018-02-12 20:09] #62 closed

[2018-02-27 07:42] abhijeetkokane opened #63 "Custom Branding login page not supported"
• Login working fine when we using default login page
• When we use custom branding login page
• It loads the login url in SFSafariViewController properly, but after click on login its redirects me to chatter page in same window, which is incorrect flow.
• In case of default login page, it redirects me to my application, which is correct flow.
• For custom branding we are using vfx page in backend

[2018-02-27 16:17] mike4aday commented on #63
@abhijeetkokane are you referring to custom branded communities login? If so, see issue #3 - if not, please provide a short, but clear, code sample to illustrate the issue.

[2018-02-28 14:13] abhijeetkokane commented on #63
Hi @mike4aday,

Thank you for your response.
Yes, we are using “custom branding” for community login. Following is the code which we are using for invoking the login functionality:

public func login(url: URL) throws {

guard !loggingIn else {
throw SalesforceError.invalidity(message: "Already logging in!")
}

guard let window = UIApplication.shared.keyWindow else {
throw SalesforceError.invalidit

[2018-03-01 16:50] mike4aday commented on #63
@abhijeetkokane re. the code you included: is that the original Swiftly Salesforce code, or did you modify it? It's hard for me to tell if that is an as-is paste from Swiftly Salesforce source, or if you modified part(s). If modified, just include the modified segment(s).

Does the suggested workaround mentioned in issue #3 help?

[2018-03-07 01:01] mike4aday commented on #63
@abhijeetkokane I'm closing this as no response - if it remains an issue, just reopen.

[2018-03-07 01:15] mike4aday commented on #60
Thank you again, @daichi1021 - I could reproduce this and it's a bug. I'll fix it soon.

[2018-03-07 18:24] auctifera-josed commented on #49
Hi @mike4aday, I'm curious if you have implemented this solution for a real world scenario, how did you handle a result (query, apex rest, etc.) that returns both datetime and date fields? If I set the `decoder.dateDecodingStrategy = .formatted(DateFormatter.salesforceDateFormatter)` works if the response only contains Date fields, but a Datetime field will generate the error `debugDescription: "D

[2018-03-07 19:43] mike4aday commented on #49
Hi @auctifera-josed I believe you have to define two decoders, one for each of the formats, `DateFormatter.salesforceDateFormatter` and `DateFormatter.salesforceDateTimeFormatter` and use the appropriate decoder for the particular field while manually decoding.

[2018-03-08 13:52] abhijeetkokane commented on #63
Hi @mike4aday 

Sorry for not replying for a while, but we are still facing the same issue:

We have added following in your sample project on git:

Login host url - https://spacecommunity-developer-edition.ap7.force.com/mycommunity

Consumer Key
3MVG9ZL0ppGP5UrCyn4nX.TOEnSFEhfQB8ntPSWhbgF_vr4AVm48FPHDSq561oMys7zqN8hA3I5qZ4AeetZAL

Consumer Secret
7900526202222258945

Following are the login crede

[2018-03-09 13:56] auctifera-josed opened #64 "Example on working with date/datetime fields"
Hi, I've been trying to work with date & datetime fields but I'm sure there is a better way and I'm hopping someone can help me out.

My struct is:

[code]

I have a query as follows

[code]

which throws the error `"Date string does not match format expected by formatter."`

So I changed to a typeless query to try to use a decoder to set the date formatter as follows

[code]

which won't let me c

[2018-03-12 12:34] abhijeetkokane commented on #63
Hi @mike4aday

We have tried your solution but no luck so far.
The credentials that we have provided are sample credentials for you to check the issue once.

Could you please let us know are you able to navigate back to app after login.

[2018-03-12 13:55] mike4aday commented on #64
@auctifera-josed try this for your `Contact` struct instead:

[code]

[2018-03-12 13:57] mike4aday commented on #64
@auctifera-josed here's another, similar example, unrelated to Salesforce:
https://useyourloaf.com/blog/swift-codable-with-custom-dates/

[2018-03-12 14:01] mike4aday commented on #49
@auctifera-josed my earlier response (now deleted) was wrong. See our discussion and solution in issue #64 for decoding a Salesforce record that has both Date and DateTime values.

[2018-03-13 12:40] nishiarya commented on #51
Oh! My bad, Thanks for the update.

[2018-03-16 13:47] #64 closed

[2018-03-16 13:52] mike4aday commented on #63
@abhijeetkokane what is the callback URL configured in the connected app?

[2018-03-19 06:19] abhijeetkokane commented on #63
We have set the callback URL - "sfdc://success"

[2018-03-26 21:38] auctifera-josed opened #66 "Error handling"
Hi,

I'm trying to get the error's `unhandledResponse ` which is printing something like

[code]

But I'm not sure how to parse the general `Error` to something and access the `response_status` and `response_message` property

Note: by error I mean what ever is catch after a request

[code]

[2018-04-12 06:12] mike4aday commented on #60
Fixed with version 6.0.5.
Thank you @daichi1021

[2018-04-12 06:12] #60 closed

[2018-04-26 04:16] JB775 opened #68 "Need to add a custom bar button item to a SFSafariViewController that is generated programmatically"
I've built a business card scanner app that gives users the option to sync with SalesForce and automatically create contacts.  Since not all users use SalesForce, but some may still click my "Log into SalesForce" button, I need a way for users to back out of the login screen.

Upon initial login screen load, Swiftly Salesforce replaces the current rootViewController with a SFSafariViewController p

[2018-04-27 01:26] JB775 commented on #68
Sounds good, I'll keep an eye out for the update. I have enough new feature dev work I'd rather focus on if you are working on a fix within a few weeks.

In the meantime, I may size-down and wrap that view inside a container view and add an external button that routes users back to the previous viewController.  A little hacky but that way my users aren't stuck until they force-close the app.

[2018-05-04 21:35] auctifera-josed opened #69 "Logout from Sandbox not working"
I'm trying to logout from a sandbox org and is not working, I'm getting the error

`resourceNotFound`

[code]

where `login` is

[code]

This works perfect in developer or production org, I'm stuck here, I have try everything except reseting the entire iPad and I'm still logged in to this sandbox org.

Note: I even removed the call to `login` and is still not working.

[2018-05-07 05:37] hmuronaka opened #70 "Salesforce.identity fails when iOS time setting is a specific condition."
Salesforce.identity() fails when iOS Setting Time 24-Hour Time is off ( iOS displays am/pm time when the mode is off) .

This error doesn't occur iOS simulators and when iOS language is English.
iOS language was Japanese when the error occcured.

The URL below is a related document.
https://developer.apple.com/library/content/qa/qa1480/_index.html

[code]

[2018-05-07 14:29] mike4aday commented on #69
Hi @auctifera-josed - have you set the "login host" to "test.salesforce.com"?

You can do that via parameter in `configureSalesforce( )` in the app delegate - use "test.salesforce.com" for `loginHost` instead of the default:

From LoginDelegate.swift:
[code]

[2018-05-07 14:39] auctifera-josed commented on #69
Hi @mike4aday, no I haven't. But where and how would I set this if the app needs to support any "login host"? Since people may connect to a production org, sandbox org or using a custom domain.

[2018-05-08 00:39] hmuronaka commented on #70
Thank you for your reply.

This is the error message.

[code]
And I sent fix code, please refer for updating.
https://github.com/mike4aday/SwiftlySalesforce/pull/71

[2018-05-08 12:38] #70 closed

[2018-05-09 04:40] hmuronaka commented on #69
Hi, I had the same problem.
I resolved the problem by changing Resource.swift in Swiftlysalesforce to the code below.
What do you think of my solution?
Do you see any potential problem?

// before
[code]

// after
[code]

[2018-05-09 20:45] mike4aday commented on #69
@hmuronaka the only issue I foresee is that your fix would get overwritten if you update the library. Your fix is great, and I'll incorporate it. There's no need for a `host` associated value for the `revoke` enum. Thanks.

[2018-05-10 09:35] hmuronaka commented on #69
Hi, @mike4aday
Thank you for your reply and your review.
I sent fixed code. https://github.com/mike4aday/SwiftlySalesforce/pull/72

[2018-05-14 16:04] mike4aday commented on #68
@JB775 the implementation I'm working on requires some breaking changes so I need to put them in the next major release (per semantic versioning guidelines), and I need more time. I'll let you know once it's ready.

[2018-05-15 04:45] JB775 commented on #68
@mike4aday No worries, thanks for the heads up.

[2018-05-22 00:06] mike4aday commented on #69
Fixed in version 6.0.7. Thanks @hmuronaka

[2018-05-22 00:06] #69 closed

[2018-05-22 00:07] mike4aday commented on #68
@JB775 will be implemented in version 7 - in the works. Thanks.

[2018-06-01 00:31] pbrondum opened #73 "support for SOSL"

[2018-06-04 15:02] unco182 opened #75 "Hiding login navigation bar or changing it's title."
Hi everyone,

I'm trying to find a way to hide the SFSafariViewController navigation bar or just changing it's title to something more nicer than a huge URL String (For example by "Login page"). But I'm not sure that there is a way to achieve this...

Is it possible right now ?
Is there a way to PR that ?

or is it juste forbidden by Apple Guideline to tweak these on SFSafariViewController ?

Than

[2018-06-05 23:44] mike4aday commented on #75
Hi @unco182 it's not possible as far as I know - or even desirable. See: https://stackoverflow.com/questions/48636741/how-to-change-sfsafariviewcontrollers-title-in-swift

[2018-06-07 20:40] #75 closed

[2018-07-06 23:17] pbrondum opened #76 "Support for Chatter"
It would be great to have easy access to Chatter (create, comment etc.) Alternatively, it would be awesome to get an example of using .custom to perform this.

[2018-07-12 22:18] mike4aday commented on #73
Delivered in version 7.0.0

[2018-07-12 22:18] #73 closed

[2018-07-12 22:19] mike4aday commented on #32
Delivered in version 7.0.0

[2018-07-12 22:19] #32 closed

[2018-07-12 22:19] mike4aday commented on #3
Delivered in version 7.0.0

[2018-07-12 22:19] #3 closed

[2018-07-12 22:21] mike4aday commented on #68
@JB775 delivered in version 7.0.0. There's now a dismissible Safari login controller - it will throw an error if the user dismisses it, which your code should handle if necessary.

[2018-07-12 22:21] #68 closed

[2018-07-12 22:24] mike4aday commented on #76
@pbrondum in the newly-released version 7 you can create your own URLRequest and then pass it to `Salesforce.dataTask<T: Decodable>(with request: URLRequestConvertible)` - where `T` is your own `Decodable` model. (This replaces the former .custom resource.)

[2018-07-13 19:06] mike4aday commented on #2
Delivered in version 7.0.0

[2018-07-13 19:06] #2 closed

[2018-07-14 04:41] pbrondum opened #81 "always closure"
The following line in Readme:
"The always closure will be called regardless of success or failure elsewhere in the promise chain."
should be:
"The ensure closure will be called regardless of success or failure elsewhere in the promise chain."

[2018-07-14 18:29] mike4aday commented on #81
@pbrondum corrected. Thank you.

[2018-07-14 18:29] #81 closed

[2018-07-22 09:46] #76 closed

[2018-07-23 12:44] degreecloud opened #82 "Salesforce login Page is not showing up"
I have added swiftly salesforce through cocoa pods and successfully configured app delegate file but instead of opening salesforce login page on safari, app shows my rootViewcontroller. Please suggest what i should try?

[2018-07-24 09:36] mike4aday commented on #82
@degreecloud have you tried calling any method that makes a request to Salesforce, that is, any method in the `Salesforce` class? When you call a method that requires authentication, Swiftly Salesforce will first attempt to use an already-stored access token. If that fails, it will attempt to refresh the access token, and if that fails, e.g. on first use when there isn't yet a stored access or ref

[2018-07-24 09:57] degreecloud commented on #82
No. I am not calling any method of salesforce. I created a new project with pod installation of swiftly salesforce and configure app delegate and info.plist as per steps given in document but not getting that login screen.

[2018-07-24 10:09] degreecloud commented on #82
No. I am not calling any method of salesforce. I created a new project
with pod installation of swiftly salesforce and configure app delegate
and info.plist as per steps given in document but not getting that login
screen. Instaed of getting salesforce login webpage getting my
rootViewcontroller.

On 2018-07-24 03:36, Michael Epstein wrote:

--
Thanks and Regards,
  Komal Dhingra

[2018-07-24 10:52] mike4aday commented on #82
@degreecloud it's working as designed. Some apps don't require immediate login and display of the login form. If you do want to display the login form right away on app launch, then you could call the following in your app delegate, for example, and just ignore the result:

[code]

[2018-07-24 10:54] mike4aday commented on #82
@degreecloud BTW there is no longer (as of version 7) any configuration required in the info.plist file. Please see the current [README](https://github.com/mike4aday/SwiftlySalesforce/blob/master/README.md).

[2018-07-24 11:32] degreecloud commented on #82
Thank you so much . It works!

[2018-07-29 17:06] #82 closed

[2018-07-31 05:44] degreecloud opened #83 "How to switch between production and sandbox url from login page?"
I installed swiftly salesforce through pod. Now i want to show the setting button that shows in salesforce sdk in navigation bar. Please suggest how can i acheive this in swiftly salesforce?

[2018-07-31 09:57] degreecloud commented on #82
Hello,

In my ios app, I want to switch between production and sandbox urls.
This function we want on login page. As salesforce sdk shows setting
button on navigation bar to change production to sandbox and vice-versa.
We want same button in swiftly salesforce. Could you please suggest m
how we can acheive this. Its really important.
Please revert soon.

On 2018-07-24 04:54, Michael Epstein wrote:

[2018-07-31 19:55] mike4aday commented on #82
@degreecloud there are a couple ways - at least - to do this:

1) The user can change from production to sandbox login host from the Salesforce-hosted login web form. When the login form appears, click on `Forgot Your Password?` and on the next screen click `Sandbox Login` -- that will take the user to the login page at `test.salesforce.com` OR

2) Set the `authorizationHost` parameter to `test.sa

[2018-07-31 19:57] mike4aday commented on #83
Duplicate. Answered [here](https://github.com/mike4aday/SwiftlySalesforce/issues/82).

[2018-07-31 19:57] #83 closed

[2018-07-31 22:03] pbrondum commented on #82
Users can log into the sandbox at https://test.salesforce.com by appending .sandbox_name to their Salesforce usernames. For example, if a username for a production organization is user1@acme.com, and the sandbox is named “test”, then the modified username to log into the sandbox is user1@acme.com.test.

[2018-08-01 04:30] degreecloud commented on #83
I am not satisfied with your answer.

On 2018-07-31 13:57, Michael Epstein wrote:

--
Thanks and Regards,
  Komal Dhingra

[2018-08-01 04:42] degreecloud commented on #82
@pbrondum , I am assuming customer do not anything production url and sandbox url then how he can set urls ?
Therefore i want a button like standard salesforce sdk shows on navigation bar. I want user can switch in any production and sandbox.
@mike4aday  ,  I tested your answer for forgot password. As i click on forgot password then sandbox  , sandbox url is open that's work fine but now if i want

[2018-08-01 23:49] pbrondum opened #85 "Minimum value for batchSize?"
Trying to get 5 or 20 records at a time.  Seems to be ignored.  Documentation says minimum is '1'.

Also, queryNext has no batchSize parameter, is that on purpose? Would love to increase it as more record batches are retrieved.  See example below..

let batchSize = 5
        if reachability.connection != .none {
            first {
                salesforce.identity().compactMap {

[2018-08-02 03:14] simonnarang opened #86 "Callback URL Usage"
Hi, I have my callback URL set to https://login.salesforce.com/services/oauth2/success however upon authorization my app does not open. If I set the callback to anything else, the OAuth website doesn't load. How should I fix this?

[2018-08-06 18:43] mike4aday commented on #86
@simonnarang the callback URL must have a custom protocol, and **not** https, e.g. `myapp://success`

[2018-08-06 18:57] mike4aday commented on #86
@simonnarang (continued) it doesn't actually matter what protocol you use, just be sure that the callback URL matches the callback URL defined in the Salesforce connected app, and that it has valid URL form.

[2018-08-06 21:30] mike4aday commented on #82
@degreecloud - on re-reading your comment, I noted the significance of "...We want both sandbox and production in login web form..." Unfortunately, I can't provide that. The webform is hosted by Salesforce, and launched by Apple's new [SFAuthenticationSession](https://developer.apple.com/documentation/safariservices/sfauthenticationsession). As far as I know, there is no way to insert extra button

[2018-08-06 22:13] mike4aday commented on #86
@simonnarang closing this issue for now. Re-open or add comment if you still have question(s). Thanks.

[2018-08-06 22:13] #86 closed

[2018-08-07 04:31] degreecloud commented on #82
Ok no problem. Thanks for clearing doubts.

On 2018-08-06 15:30, Michael Epstein wrote:

--
Thanks and Regards,
  Komal Dhingra

[2018-08-07 19:05] mike4aday commented on #85
@pbrondum - the minimum batch size for the Salesforce REST API query resource is 200 (not 1): https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/headers_queryoptions.htm

I'll clarify this in the Swiftly Salesforce documentation.

Re. batch size for `queryNext` -- I believe this is not supported by the REST API (see same link above: "Use this request header with the Query res

[2018-08-07 19:08] #85 closed

[2018-08-07 19:19] pbrondum commented on #85
Good to know. I'll try the workaround.

Thanks,

Per

On Tue, Aug 7, 2018 at 12:07 PM Michael Epstein <notifications@github.com>
wrote:

[2018-08-08 20:45] pbrondum opened #87 "Proactively checking limits"
I'm trying to be sensitive to the org's limits (API calls especially).  I looked at your limits App code, but that seems to be old (both where the info is stored and SWIFT version).  Would you be able to share the code for the new Limits app, or point me to where the information is stored (if not in Site)?

[2018-08-08 22:17] mike4aday commented on #87
@pbrondum as you noted, the code in the Limits app [repo](https://github.com/mike4aday/LimitsForSalesforce) is out-of-date. The source for the new Limits app is not (currently) in a public repo. You can use the `limits` method [here](https://github.com/mike4aday/SwiftlySalesforce/blob/master/SwiftlySalesforce/Sources/Extensions/Salesforce+REST.swift#L71) to get the same information in your app wit

[2018-08-08 23:45] #87 closed

[2018-08-09 01:13] pbrondum commented on #87
Excellent. Thank you.

Per

[2018-08-15 19:39] pbrondum opened #88 "group by SOQL and <SObject>"
Having problems with a simple 'group by' soql statement when using <SObject>:
...
userInfo -> Promise<QueryResult<SObject>> in
let soql = "select accountid, count(id) from event group by accountId"
return salesforce.query(soql: soql)
}.then {
...
The query returns zero records, and fails with the following:
"The data couldn’t be read because it is missing.
Error: SOQL data query failed with code :

[2018-08-16 02:46] mike4aday commented on #88
@pbrondum I suspect this is a bug and the custom decoder doesn't handle grouped results. (Related to your issue #50). Will get this fixed as soon as I can.

[2018-08-16 02:47] mike4aday commented on #88
@pbrondum BTW if you can't wait for the fix, you can create your own `Decodable` model class and use it instead of `QueryResult`.

[2018-08-16 03:07] pbrondum commented on #88
My other workaround is multiple queries, but I love how you can issue
multiple different object queries in one call. So no rush...

Thanks

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Wed, Aug 15, 2018 at 7:47 PM Michael Epstein <notifications@github.com>
wrote:

[2018-08-22 06:55] degreecloud commented on #82
Hello,

I am facing new issue in logout from app. For first time we are showing
production view for login but if we want to go sandbox through custom
domain and there using test.salesforce.com link and then I am stuck did
not find method to logout from there because connected app is set to
show production and for sandbox, app is unable to logout since firstly
app is iniated with production url.

P

[2018-08-22 13:28] mike4aday commented on #82
@degreecloud sorry, I don't understand. Would you rephrase and/or include relevant code sample?

[2018-08-28 14:30] ios3 opened #89 "Example Not Working Properly cant event able to even login"
![screen shot 2018-08-28 at 7 59 23 pm](https://user-images.githubusercontent.com/39147630/44729681-f5f8bd80-aafc-11e8-873f-32eb1a781980.png)

[2018-08-28 15:33] mike4aday commented on #89
@ios3 I need to update the consumer key value; will do that ASAP. In the meantime, you could replace the value for `consumerKey` on line 18 in `AppDelegate.swift` as follows:
[code]

[2018-08-28 15:45] mike4aday commented on #63
@abhijeetkokane is this still an issue? Please try with new version 7 and re-open if there's still a problem.

[2018-08-28 15:45] #63 closed

[2018-08-28 16:28] mike4aday commented on #89
@ios3 should be fixed now in version 7.0.3. Thanks.

[2018-08-28 16:28] #89 closed

[2018-09-10 07:04] degreecloud opened #90 "I am using below custom API and getting below error:"
The operation could not be completed. (SwiftlySalesforce.RequestError error 1.)

Using:
first {
            salesforce.apex(method: .post, path: path!, parameters: nil, body: jsonData, contentType: "application/json")
            }.then {
                result in
            }.catch {
                error in
        }

[2018-09-10 09:45] degreecloud commented on #82
Hello,

I am having problem in custom API. I am using below API:

first {
       salesforce.apex(method: .post, path: /Lead, parameters: nil, body:
jsonData, contentType: "application/json")
             }.then {
                 result in

             }.catch {
                 error in

         }

And getting error: "The operation could not be
completed.(SwiftlySalesforce.RequestError error 1.

[2018-09-11 09:05] degreecloud commented on #90
Please reply. Its urgent

[2018-09-11 16:15] mike4aday commented on #90
@degreecloud can you update to the current version of Swiftly Salesforce? What is the underlying error you're encountering?

[2018-09-11 16:17] mike4aday commented on #66
The current version, ver. 7, of Swiftly Salesforce returns both the response body and response metadata. Please upgrade if you can.

[2018-09-11 16:17] #66 closed

[2018-09-12 07:54] degreecloud commented on #90
This is my error : The operation could not be completed. (SwiftlySalesforce.RequestError error 1.)
Whenever trying to save data in salesforce.

[2018-09-12 09:20] degreecloud commented on #90
I am using deployment target 10.3 and using pod I have updated swiftly
salesforce. But no progress. Please solve this issue. Getting request
error.

On 2018-09-11 10:16, Michael Epstein wrote:

--
Thanks and Regards,
  Komal Dhingra

[2018-09-14 05:38] degreecloud commented on #90
Path is correct because 1 week ago it was working and now request error is showing.

[2018-09-14 06:02] degreecloud commented on #90
I have also tried insert method to create lead in salesforce but request error is showing again.

[2018-09-14 06:16] degreecloud commented on #90
could you please suggest me right syntax? I have to create lead on
salesforce and want to send some data or parameters.

On 2018-09-12 08:24, Michael Epstein wrote:

--
Thanks and Regards,
Komal Dhingra | iOS Developer
360 Degree Cloud Technologies (P) Ltd.

[2018-09-18 05:18] mike4aday commented on #90
@degreecloud the syntax for calling an Apex method exposed as a REST endpoint using the *current* version of Swiftly Salesforce is [here](https://github.com/mike4aday/SwiftlySalesforce/blob/master/SwiftlySalesforce/Sources/Extensions/Salesforce%2BREST.swift#L87).

What is the underlying error (i.e. not the SwiftlySalesforce.RequestError)? If you place a breakpoint [here](
https://github.com/mike4a

[2018-09-20 09:03] degreecloud commented on #90
Still getting same error. Please check below steps:

Step 1: let result = salesforce.insert(type: "Contact", fields: fields)
//where fields is a dictionary of type [String: Encodable]
         debugPrint(result)
Step 2: When I run the app then above debug gives: "Promise:
UnsealedState: Optional("Pending with 0 handlers")"
Step 3: I Implemented breakpoints and found:
         a: Firstly breakpoint

[2018-09-21 23:58] mike4aday commented on #90
@degreecloud that does sound like an error from the server side. What is in the HTTP response, i.e. post here the value of the variable `httpResp`? ([defined on line 27 of Requestor.swift](https://github.com/mike4aday/SwiftlySalesforce/blob/6.0.7/SwiftlySalesforce/Classes/Requestor.swift#L27))

[2018-09-24 05:15] degreecloud commented on #90
I am getting below httpResponse:
<NSHTTPURLResponse: 0x604000236b80> { URL:
https://ap4.salesforce.com/services/data/v41.0/sobjects/Lead/ } { Status
Code: 400, Headers {
     "Cache-Control" =     (
         "no-cache,must-revalidate,max-age=0,no-store,private"
     );
     "Content-Security-Policy" =     (
         "upgrade-insecure-requests"
     );
     "Content-Type" =     (
         "applicat

[2018-09-26 05:01] abhisheksahay commented on #70
Hi ,
I am facing the same error message .

`dataCorrupted(Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "last_modified_date", intValue: nil)], debugDescription: "Date string does not match format expected by formatter.", underlyingError: nil))
`

[2018-09-26 15:45] mike4aday commented on #70
@abhisheksahay are you using the latest version of Swiftly Salesforce? Which language (Japanese, etc.)?

[2018-09-27 04:08] abhisheksahay commented on #70
I am  using latest version and language is english .

[2018-09-27 15:16] degreecloud commented on #90
Below is my complete code, this is in swift:

let params: [String: Encodable] = ["FirstName": "Test1",
                                    "Company": "DegreeCloud",
                                    "LastName": "Komal",
                                    "City": "city",
                                    "Street": "street",
                                    "State": "state",

[2018-09-27 17:41] pbrondum commented on #90
- Leads uses PostalCode not Zipcode
- Leads has no DeviceType nor DeviceId fields.

The following code inserts the lead correctly:

       let fields: [String: Encodable] = ["FirstName": "Test1",

                                           "Company": "DegreeCloud",

                                           "LastName": "Komal",

                                           "City": "city",

[2018-10-01 02:37] mike4aday commented on #90
Thank you @pbrondum

@degreecloud I'll close this issue for now. Re-open if you need to.

[2018-10-01 02:37] #90 closed

[2018-10-01 02:53] mike4aday commented on #70
@abhisheksahay so far, I can't reproduce this. Could you post here the JSON response as returned by Salesforce? Thanks

[2018-10-02 01:03] hmuronaka commented on #70
Hi,
I had same problem when I log into winter19's salesforce.
It seems that date format of lastModifiedDate of Identity is changed for winter19.

[2018-10-02 15:43] mike4aday commented on #70
Thanks @hmuronaka I'll check that ASAP.

[2018-10-02 16:27] mike4aday commented on #70
@hmuronaka indeed... seems the date format changed in Winter '19. Thanks for letting me know. I'll update the Swiftly Salesforce code ASAP.

@abhisheksahay FYI

[2018-10-02 17:19] mike4aday opened #91 "Winter '19 breaks 'identity'"
The date format of REST API 'id' endpoint  `last_modified_date` field changed:

Before Winter '19:
`"last_modified_date" : "2018-06-16T15:40:38.000+0000"`

Winter '19:
`  "last_modified_date" : "2018-10-02T16:22:06Z"`

[2018-10-02 17:28] mike4aday commented on #91
FYI @hmuronaka

[2018-10-02 20:10] mike4aday commented on #91
https://releasenotes.docs.salesforce.com/en-us/winter19/release-notes/rn_security_auth_json_value_endpoints.htm

[2018-10-03 05:33] abhisheksahay commented on #70
Thanks @mike4aday .

[2018-10-09 14:44] mike4aday opened #92 "Support OpenID 'id_token'"
'id_token' value returned by OAuth 2.0 user-agent flow is currently ignored by Swiftly Salesforce.

[2018-10-10 17:11] auctifera-josed commented on #91
Hi, @mike4aday have you been able to work on this? Is this impacting only the latest version or all the previous versions also?

[2018-10-10 20:47] mike4aday commented on #92
Delivered in version 7.1

[2018-10-10 20:47] #92 closed

[2018-10-10 20:52] mike4aday commented on #91
@auctifera-josed I'll have a fix shortly - aiming for today or tomorrow.
Seems that it impacts the `identity` endpoint only in Winter '19. I'll accommodate that first, and will check if the change to `User Info` has any impact, per the release notes:
https://releasenotes.docs.salesforce.com/en-us/winter19/release-notes/rn_security_auth_json_value_endpoints.htm

[2018-10-11 04:42] mike4aday commented on #91
Fixed in version 7.1.1
FYI @auctifera-josed @hmuronaka

[2018-10-11 04:42] #91 closed

[2018-10-11 17:35] mike4aday commented on #88
Fixed in version 7.1.2

@pbrondum

[2018-10-11 17:35] #88 closed

[2018-10-11 18:33] pbrondum commented on #88
Awesome!!!

Regards,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Thu, Oct 11, 2018 at 10:35 AM Michael Epstein <notifications@github.com>
wrote:

[2018-10-13 04:39] pbrondum commented on #50
Given the fix (#88) feel free to close.

[2018-10-13 13:00] mike4aday commented on #50
Thanks @pbrondum - I still planned to add examples to the documentation.

[2018-10-15 12:13] abhisheksahay commented on #70
Hi @mike4aday ,

Please let me know When can you fix this issue?

[2018-10-15 19:38] mike4aday commented on #70
@abhisheksahay it should be fixed with the latest release (currently 7.1.2). Let me know if you are still seeing the problem after upgrading.

[2018-10-16 05:49] abhisheksahay commented on #70
@mike4aday Thanks, Its fixed .

[2018-10-19 00:20] pbrondum opened #96 "API documentation correction"
salesforce+SObject.swift refers to:
UIApplication.shared.registerForRemoteNotification() invocation.
should be:
UIApplication.shared.registerForRemoteNotifications() invocation.

[2018-10-19 22:09] mike4aday commented on #96
Thanks @pbrondum - I'll take care of this shortly.

[2018-11-06 01:10] mike4aday commented on #96
@pbrondum this has been corrected and is reflected in the documentation. Thanks for catching it.
http://mike4aday.github.io/SwiftlySalesforce/docs/Classes/Salesforce.html#/s:17SwiftlySalesforce0B0C24registerForNotifications11deviceToken7options10PromiseKit0I0CySSGSS_AC7OptionsVtF

[2018-11-06 01:10] #96 closed

[2018-11-25 17:27] mike4aday opened #101 "Support MacOS"

[2018-12-10 04:49] JB775 commented on #68
Thanks!

[2019-01-20 21:57] perbrondum opened #102 "better support within Swiftly Salesforce for multi-record inserts"
See #54.

[2019-01-22 21:16] pbrondum commented on #50
We found that using an alias helps as you're not having to guess the name
of the sum column.  Here's an example of what worked for us:

                    first {

                      salesforce.identity().compactMap {

                        (identity) -> Void in

                        guard identity.userID != "" else {

                            print("Error in userid. Exit")

[2019-01-22 23:02] mike4aday commented on #102
@perbrondum can you provide more details? Are you looking for 'direct' support of the composite API insert capability? https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/resources_composite_sobjects_collections_create.htm

[2019-01-23 00:17] perbrondum commented on #102
Looking for a way to do bulk inserts of records of same type. Hoping for a way that allows the bulk inserts to count as 1 as opposed to n as we keep getting ‘cut off’ by the activity limits while transferring configuration data from client to SFDC.

We’ll pass an array of inserts and get an array of Id’s back. I’ll assume that all inserts either fail or succeed.

Thanks,

Per

[2019-01-23 02:33] MerlinPeter commented on #50
thanks for the response it works now I was trying with alias but was doing record.string
instead of record.int  . This is excellent library we are small non profit and it is really helpful to mobilize our team thanks for all your work.

[2019-01-23 16:33] mike4aday commented on #50
@MerlinPeter that's great to hear. Thank you.

[2019-01-24 16:47] mike4aday commented on #102
@perbrondum the new-ish Composite API does just that - inserts up to 200 records, and has an "all or nothing" option. I can add a method to Swiftly Salesforce that uses the Composite API, but AFAIK it does "cost" 1 API call per object inserted. That is, even though it's a single HTTP request, if the request to the Composite API post insert method contains 'n' sub request records, then your API all

[2019-01-25 03:48] pbrondum commented on #102
Thanks for looking into this. Having the 'all or nothing' option would be
great as we could not have to code for dangling commits (if we get cut
off). So event if we don't reduce the cost, it's still worth it.

Thanks,

Per Jakobsen

Regular mail : perbrondum@gmail.com
Secure Mail: isper@protonmail.com

On Thu, Jan 24, 2019 at 8:47 AM Michael Epstein <notifications@github.com>
wrote:

[2019-01-25 16:24] mike4aday commented on #102
@perbrondum will do! Thanks

[2019-01-29 01:19] mike4aday commented on #102
Hi @perbrondum - which recent reply are you referring to? Can you link to it? From your description, both queries, with and without the "group by" clause, would cost 1 API call.

The cost of an API call refers to the allocations detailed [here](https://developer.salesforce.com/docs/atlas.en-us.salesforce_app_limits_cheatsheet.meta/salesforce_app_limits_cheatsheet/salesforce_app_limits_platform_api

[2019-01-29 01:38] pbrondum commented on #102
Below is the link you referred us to in a thread re: example of group by queries. See the details re: group by.
https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/langCon_apex_SOQL_agg_fns.htm
“For COUNT() or COUNT(fieldname)queries, limits are counted as one query row, unless the query contains a GROUP BY clause, in which case one query row per grouping is consumed”

Per

[2019-01-29 07:28] MerlinPeter opened #103 "knowledge issue"
We are in the process of submitting the iOS app for app store review ,   apple is asking for a demo username and password , salesforce is trying to verify the identity because they are logging in from a new host /device apple has rejected the app in that scenario . They want to just pass the username and password and get into the app . I searched in the knowledge base of salesforce to get around t

[2019-01-29 14:08] mike4aday commented on #102
@pbrondum that refers to a different limit: the total number of query rows. The API limit, however, refers to the number of calls into the Salesforce platform from an external client. An external client running a query via the REST API would be subject to both limits - on the number of API calls within a rolling 24 hour period, and the total number of query rows.

[2019-01-29 14:20] mike4aday commented on #103
@MerlinPeter in Salesforce, you can whitelist the IP addresses from which Apple is likely to test your app. Then Salesforce will not require an activation code.

In Salesforce:

1) Go to Setup -> Users -> Users -> [The user you designated for Apple testers] -> Login History
Note the IP address from which they tried; their attempt will be logged with status of "Failed: Computer activation required"

[2019-01-29 18:56] perbrondum commented on #102
Thanks.  I'm going to have to read up on this. Per

[2019-01-30 06:47] MerlinPeter commented on #103
thanks much please close the knowledge issue

[2019-01-31 21:24] #103 closed, assigned to mike4aday

[2019-04-29 12:50] tychop opened #104 "Login with username password without the salesforce web-UI"
I need to login to salesforce with application specific credentials.
Therefor, I need to login from within the app.
Is this possible in SwiftlySalesforce?
I think I can get a token by logging in via a POST request, but can I inject that token somewhere into SwiftlySalesforce so it actually uses it?

[2019-05-01 21:46] mike4aday commented on #104
@tychop - Swiftly Salesforce is designed only for the recommended [OAuth user-agent flow](https://help.salesforce.com/articleView?id=remoteaccess_oauth_user_agent_flow.htm&type=5), which temporarily redirects the user to the Salesforce-hosted login form and then back with an access token. (It's a security risk for mobile apps to handle or store the Salesforce username and password.)

[2019-05-01 21:46] #104 closed

[2019-05-10 16:26] auctifera-josed opened #105 "Timeout interval"
Is there any way to modify the timeoutInterval of the URLRequest struct?

I've some APEX rest services that defaults to the maximum timeout (2 mins) and the app defaults to 1 min, I've edited the RESTResource.swift that extends RESTResource and set `req.timeoutInterval = 140` (just to give it a few more seconds than 2 mins) but I guess this could be a useful feature.

[2019-05-13 00:03] mike4aday commented on #105
Thanks @auctifera-josed -- this is a great idea. I'll mark it as an 'enhancement.'

[2019-05-18 00:14] perbrondum opened #106 "warnings after upgrading to SWIFT 5"
Warning: 'public' modifier is redundant for instance method declared in a public extension.
Seems to be common for all salesforce Sources.

[2019-05-22 22:33] mike4aday commented on #106
Thanks @perbrondum

[2019-10-02 22:22] auctifera-josed opened #107 "Question: Swift UI Test"
Has anyone successfully created an iOS Swift UI test for login into salesforce?

We have been struggling to create the login test, I guess this issue is not limited to SwiftlySalesforce and is a general iOS question but I was hoping someone has dealt with this before and could lead us in the right direction.

We kept getting the error `No matches found for Find: Descendants matching type Alert fro

[2019-11-11 10:43] DanielsCode opened #108 "Example for insert a lead with custom fields"
Hi @mike4aday,

thanks for this framework. Do you have a short example for inert a record (like a lead with custom fields?). I didn't find any example code in your documentation.

thanks,
daniel

[2019-11-11 17:43] mike4aday commented on #108
Hi @DanielsCode - inserting a record would be very similar to the [update record example](https://github.com/mike4aday/SwiftlySalesforce#example-update-a-salesforce-record), except you'd use one of the insert methods (see lines 60-88 in the [source code](https://github.com/mike4aday/SwiftlySalesforce/blob/master/SwiftlySalesforce/Sources/Extensions/Salesforce%2BSObject.swift)). For example:

[code

[2019-11-11 19:11] mike4aday commented on #108
@DanielsCode closing this issue - if you still have questions, please re-open.

[2019-11-11 19:11] #108 closed

[2019-11-11 20:54] DanielsCode opened #109 "Error 403"
Hi,

I tried to setup my first Swiftly Salesforce application. I am not able to fetch any account data - I tried the example code. Instead of receiving the data of the record I get these message:

_SwiftlySalesforce.Salesforce.Error.resourceError(httpStatusCode: 403, errorCode: nil, message: Optional("Salesforce resource error."), fields: nil)_

I thought this is related to the setting of the conn

[2019-11-11 22:23] mike4aday commented on #109
@DanielsCode which method(s) are you calling? Do you get the same error with other methods?

[2019-11-12 07:38] DanielsCode commented on #109
@mike4aday  I tried this one:
`    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after application launch.
        salesforce = try! Salesforce(consumerKey: consumerKey, callbackURL: callbackURL)
        salesforce.retrieve(type: "Account", id: "0011t000006FIE

[2019-11-13 04:57] mike4aday commented on #109
@DanielsCode - yes, the edition is the issue. The Salesforce API is not available to Essential Edition users. See https://help.salesforce.com/articleView?id=000326486&type=1&mode=1

[2019-11-15 13:29] #109 closed

[2019-11-27 22:58] perbrondum opened #110 "Login screens - Dark mode support"
Is there an easy way to get the two default login screens set to Dark Mode?

[2019-11-27 23:23] mike4aday commented on #110
@perbrondum not as far as I know. The login form and access approval screens are hosted by Salesforce and there is no [setting](https://help.salesforce.com/articleView?id=remoteaccess_oauth_user_agent_flow.htm&type=5) for dark mode - that would be a great [idea](https://success.salesforce.com/ideaSearch).

[2019-11-27 23:23] #110 closed

[2019-11-29 08:48] mike4aday commented on #106
Fixed in version 8.0.0 #111

[2019-11-29 08:48] #106 closed

[2019-11-29 15:54] mike4aday commented on #105
@auctifera-josed this is delivered in version 8.0. You can now provide your own `URLSession` to any request and set the timeout interval - and lots of other properties via [URLSessionConfiguration](https://developer.apple.com/documentation/foundation/urlsessionconfiguration).

See [RequestConfig](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Sources/SwiftlySalesforce/Salesforce.swift#

[2019-11-29 15:54] #105 closed

[2020-01-30 19:49] KalivosGG opened #112 "Login screen not being shown with SwiftUI"
Hi, I just found out this repo as an alternative to the iOS salesforce sdk, I followed the setup example and didn't succeed.
My question is: should the library be calling the login screen (webview) at any moment after setting the the salesforce variable?
Is there any way to use it without SwiftUI?

[2020-01-31 18:08] mike4aday commented on #112
@KalivosGG Swiftly Salesforce should work with and without SwiftUI. You don't have to display the login screen explicitly; it will appear automatically if the framework can't retrieve an access token from the local keychain, or refresh it from Salesforce. Would you post some representative code that will help me identify what might be going wrong?

[2020-02-03 16:22] KalivosGG commented on #112
@mike4aday Hey I finally managed to work it out, I was trying to retrieve data right after setting salesforce and I was getting no error or messages at all. I added a delay to retrieve some records and it worked!

Now I'm getting "server cannot be found" when trying to login.

[2020-02-04 20:30] mike4aday commented on #112
Hi @KalivosGG - the login sequence uses Apple's prescribed [ASWebAuthenticationSession](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession). You could add a debug breakpoint in the [authenticator method in the UserAgentFlow class](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Sources/SwiftlySalesforce/UserAgentFlow.swift#L19).

You shouldn't ne

[2020-02-04 21:00] KalivosGG commented on #112
@mike4aday thank you very much, I'll look into it.

[2020-02-07 00:33] mike4aday commented on #112
Hi @KalivosGG I'll close this issue for now. If you have more questions or it's not resolved, please re-open or create a new issue.

[2020-02-07 00:33] #112 closed

[2020-03-28 20:58] perbrondum opened #113 "misspelled function"
let pub: AnyPublisher<Void, Error> = salesforce.logout()
should be
let pub: AnyPublisher<Void, Error> = salesforce.logOut()

[2020-03-29 00:05] mike4aday commented on #113
Thanks @perbrondum - I'll take care of this soon.

[2020-03-29 15:51] perbrondum opened #114 "New login steps"
I'm surely missing something. Can't get a login screen to appear.  The basic:
        let consumerKey = "3MVG..."
        let callbackURL = URL(string: "opportunityforce://authorized")!
         let connectedApp = ConnectedApp(consumerKey: consumerKey, callbackURL: callbackURL)
         salesforce = try? Salesforce(consumerKey: consumerKey, callbackURL: callbackURL)
        salesforce.identity()

[2020-03-29 16:53] mike4aday commented on #114
Hi @perbrondum - you have to assign the result of `salesforce.identity()` to a variable that you retain. Let me know if that helps and if not I'll post an example shortly - there are examples in the README that, while not calls to `identity()`, they illustrate the same point.

[2020-03-29 16:59] mike4aday commented on #114
@perbrondum try this:
[code]

[2020-03-29 17:09] mike4aday commented on #114
@perbrondum or this variation:

[code]

[2020-03-29 17:51] perbrondum commented on #114
I had something similar (below).  Neither brings up the dialog.  I have
reset the simulator and changed my setup to match yours. Still no dialog...

Scene (Willconnectto):

        *let* consumerKey = "3MVG9szVa2...."

        *let* callbackURL = URL(string: "opportunityforce://authorized")!

        *let* connectedApp = ConnectedApp(consumerKey: consumerKey,
callbackURL: callbackURL)

        sal

[2020-03-29 17:58] perbrondum commented on #114
Got it.  Moved your snippet to DidAppear() and now it works.

Thanks,

Per B Jakobsen
CEO  Tap2Sales.com
per@tap2sales.com
new Phone# (415) 850 0016
old Phone# (702) 416 7959

On Sun, Mar 29, 2020 at 7:51 PM Per Jakobsen <per@tap2sales.com> wrote:

[2020-03-29 19:27] perbrondum commented on #114
Thanks for your help, and thanks for all you're doing for
SwiftlySalesforce. Moving away from PromiseKit was a great idea. The code
is so much cleaner. I wrote two routines to illustrate the new way and
to guide our transition. I believe an example like the below would be
useful for people not used to Combine.

    *private* *func* getSFDCDataSequence() {

        *var* subscriptions = Set<AnyCanc

[2020-03-29 22:14] mike4aday commented on #114
Thank you @perbrondum

[2020-03-29 22:14] #114 closed

[2020-04-02 12:22] jitesh95 commented on #19
Hi,

could you please give me screenshots of salesforce connected app and info.plist  file. I am trying this from last 2 days, still could authorize the app.

[2020-04-02 12:36] jitesh95 opened #115 "Authorization not working"
<img width="861" alt="Screenshot 2020-04-02 at 6 08 02 PM" src="https://user-images.githubusercontent.com/18266489/78250067-f04f2f00-750c-11ea-85d3-c3c91fe2879a.png">
Hi Mike,

I am trying to query some records from salesforce using Swiftly . I have follwed the steps from importing library till schemes configuration. But still not i am not able to get data from salesforce. I think there is the is

[2020-04-02 13:44] loopingGIT commented on #19
@jitesh95 I am sorry, but I don't work in this project anymore and I don't have the code to take the screenshots.

[2020-04-02 14:02] mike4aday commented on #115
Hi @jitesh95 - you have to use a callback URL scheme that is *not* http or https. The scheme should be unique, for example, "myscheme" or "myapp"

I'll post some examples shortly.

[2020-04-02 14:38] jitesh95 commented on #115
Thanks Mike for quick reply, if you could share some screenshots , that would be really great.

[2020-04-02 14:48] jitesh95 commented on #115
Hi Mike,

I will really appreciate some help here. I have some questions regarding the authentication of user in salesforce before calling the salesforce apis.

1) Can i use username , password authorization flow to directly the salesforce instance and call salesforce apis. I will hard code username and password in my app.

2) I have a screen in which user will give the some email id, and this ema

[2020-04-02 15:20] mike4aday commented on #115
Hi @jitesh95 - the short answer is 'yes,' you could do what you're proposing but it's strongly recommended not to. Native mobile apps should use the OAuth2 'user-agent' flow, which is the default implementation for Swiftly Salesforce.

Hard-coding usernames and passwords in the app presents a security vulnerability. The app likely wouldn't pass the Salesforce security review. Also, the user-agent

[2020-04-02 15:24] mike4aday commented on #115
@jitesh95 - one more point: if you're considering sharing a single user credential among multiple mobile app users, that may violate Salesforce's service agreement. If you want to make a resource available to mobile users without authentication, consider a Heroku endpoint, Force.com sites or unauthenticated Community access instead.

[2020-04-02 16:15] mike4aday commented on #19
Hi @jitesh95 - you don't need to register the scheme in the info.plist file anymore, thanks to changes Apple made.

[2020-04-02 16:16] mike4aday commented on #19
@jitesh95 - and as mentioned in issue #115 you need to use a custom scheme that is *not* http or https.

[2020-04-02 16:20] mike4aday commented on #115
@jitesh95 a few notes on your code samples and info.plist file screenshot:
- Your URL scheme should be a custom one, anything you make up, but not http or https
- You don't have to register that scheme, or anything else, in the info.plist file
- Calls to the Salesforce API should happen after the view hierarchy is established, so `scene(_ scene: UIScene, willConnectTo session: UISceneSession, opti

[2020-04-02 19:21] perbrondum opened #116 "limits() requires identity() to pass userinfo"
DB.salesforce.limits()
            .sink(receiveCompletion: { (completion) in
                switch completion {
                case .finished:
                    print("Finished limits query")
                case let .failure(error) :
                    print(error)
                    }
            }, receiveValue: { (limitResults: [String:Limit]) in
                print(limitResults)

[2020-04-02 21:16] mike4aday commented on #116
Hi @perbrondum. Your code works ok for me, so I'm not able to reproduce your results. See below. I have seen the 'cancelled' error when the user closes the Salesforce-hosted login screen without entering credentials.

[code]

[2020-04-02 21:19] mike4aday commented on #115
@jitesh95 I'll close this issue for now. Please re-open and comment if you still have questions/issues.

[2020-04-02 21:19] #115 closed

[2020-04-03 14:45] perbrondum commented on #116
You're right.  And now I can't reproduce it. Closed.

[2020-04-03 14:45] #116 closed

[2020-04-28 20:50] amalashin opened #117 "Working example please"
Hello! It seems like SwiftySalesforce is an awesome package but I totally cannot set it up. I tried almost everything and spend around two days 😱 with trying to bring things to work. Explored README as well as #114 and #115 and totally misunderstood what I'm doing wrong. **So, do you have a working example?...**

For now I have in **SceneDelegate.swift**:
[code]
When I start an app, I got a messag

[2020-04-29 15:38] mike4aday commented on #117
Hi @amalashin - `subscription` is not being retained so the network request gets canceled before your closures are called. Try:

[code]

[2020-05-01 09:07] amalashin commented on #117
🤦🏻‍♂️
It seems like I need to learn a little bit more about [Combine](https://developer.apple.com/documentation/combine). Thank you for clarification.

Am I right that the authentication question will be automatically opened with any request in case of the expired token?

[2020-05-01 21:22] amalashin commented on #117
It looks like I finally got it! At least, it works for me (and may be will be useful for someone) :) Could you please check.

**UserSettings.swift**
[code]

**SceneDelegate.swift**
[code]

**MainView.swift**
[code]

[2020-05-02 00:22] mike4aday commented on #117
Hi @amalashin in answer to your question on authentication:

Yes, correct - Swiftly Salesforce will automatically initiate re-authentication if the stored token has expired.

You could override this default behavior if the user might be confused by the appearance of the Salesforce login form -- see [RequestConfig](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Sources/SwiftlySalesforce

[2020-05-02 00:33] mike4aday commented on #117
@amalashin I will close this issue for now - if you have more questions, please re-open or create another.

[2020-05-02 00:33] #117 closed

[2020-06-18 17:33] camiloduqued opened #120 "Logout is failing"
I'm having issues with the logout since I updated Swiftly Salesforce to version 8.0.0, I added the package with the Swift Package Manager and updated the implementation to the Combine framework. Sometimes it fails and sometimes it's successful.

When it fails the request made at the OAuthManager revoke function responds with a status 404 and the body (data) is "Bad_Id".

It's weird because that er

[2020-06-19 17:33] mike4aday commented on #120
Thanks @camiloduqued - I've not seen this before and will try to figure out what's going on. Were you able to see if the token was revoked on the Salesforce side?

[2020-06-19 17:48] camiloduqued commented on #120
No @mike4aday, the token was not revoked, even as it fails the user is not removed from the User Defaults, so when I try to login again, it skips the Salesforce Login and all the subsequent requests are successful.

[2020-06-19 21:04] mike4aday commented on #120
Thanks @camiloduqued - I'll look into this.

[2020-06-22 23:30] mike4aday commented on #120
Hi @camiloduqued - which OAuth scopes did you select in your Connected App definition?

[2020-06-23 01:05] camiloduqued commented on #120
Hi @mike4aday, I selected these scopes:
![image](https://user-images.githubusercontent.com/26864817/85349130-422ba380-b4c3-11ea-9c8f-229ce2b49739.png)

[2020-06-24 23:12] mike4aday commented on #120
Hi @camiloduqued - I'm still checking into this. As you noted, 404 and "Bad_Id" is not documented as a possible result of a call to the OAuth 'revoke' endpoint. Back to you soon.

[2020-07-10 15:59] mike4aday commented on #120
@camiloduqued - I asked experts at Salesforce and so far the only possible explanation is that the request to the 'revoke' endpoint is coming from an 'invalid domain.' Are you able to provide a trace route of the path from the caller to the 'revoke' endpoint? Approximately how often do you see the failure (as % of all calls to revoke)? I've not been able to replicate the issue.

[2020-07-10 21:49] mike4aday commented on #113
Fixed in version 8.0.1 (pull request #122).
Thank you @perbrondum

[2020-07-10 21:49] #113 closed

[2020-07-21 16:51] mike4aday commented on #120
@camiloduqued I'll close this for now; re-open if needed.

[2020-07-21 16:51] #120 closed

[2020-08-05 22:17] #107 closed

[2020-09-11 22:08] perbrondum opened #123 "Enhance SOSL to support AnyPublisher<QueryResult<T>"
Is there any reason SOSL can not support AnyPublisher<QueryResult<T>?

[2020-09-14 16:42] mike4aday commented on #123
@perbrondum the Salesforce REST API `search` resource returns an array of records, and those records could be of different types depending on the domain of the SOSL search. In contrast, `QueryResult` for a SOQL search includes records of only 1 type, and includes metadata about the search results.

What is your requirement? What are you trying to achieve?

[2020-09-14 23:57] perbrondum commented on #123
Finding an efficient fast way to find all object records (or nil) belonging
to a company.

FIND {tap2sales} In name FIELDS RETURNING Account(id, name),
opportunity(id, name), contact(id, name, accountId)

Basically if I could get the above (simplified) query to work, and separate
the records by type, I'd be happy. How would you refer to the "contact ID"
in the below sosl?.  Using id.prefix(4) == 0

[2020-09-15 17:48] mike4aday commented on #123
@perbrondum do all the objects you're looking for have a lookup relationship to Account (e.g. Opportunity and Contact)? If so, you could use a [parent-to-child SOQL query](https://developer.salesforce.com/docs/atlas.en-us.soql_sosl.meta/soql_sosl/sforce_api_calls_soql_relationships_query_using.htm#sforce_api_calls_soql_relationships_query_using).

I don't understand your second paragraph about ID

[2020-09-15 19:17] perbrondum commented on #123
Using parent-child gets complicated with outer joins especially as we want to expose null records.

Below's an example of what I meant with contact Id.
let sosl = "FIND {%\(searchStr)%} IN name FIELDS RETURNING Account(id, name),
opportunity(id, name), contact(id, name, accountId)
        DB.salesforce.search(sosl: sosl).sink(receiveCompletion: { (completion) in
            switch completion {

[2020-09-17 21:45] mike4aday commented on #123
Hi @perbrondum the results will be returned in an array of [Records](https://github.com/mike4aday/SwiftlySalesforce/blob/ac2634c140b009c6ccb1a9fc061f6f29fd84a784/Sources/SwiftlySalesforce/Record.swift). The `object` property of each `Record` will tell you its type (e.g. "Contact") and then you could call `record.value(forField: "Name")`.

[2020-09-19 17:07] perbrondum commented on #123
Beautiful. This is just awesome. Thanks.

let sosl = "FIND {%\(textField.text!)%} IN Name FIELDS RETURNING  Account(id, Name, BillingStreet, BillingCity, BillingPostalCode, BillingState, BillingCountry, lastActivityDate), Contact(id, name, MailingStreet, MailingCity, MailingPostalCode, MailingState, MailingCountry), Opportunity(id, name, expectedRevenue)"

            DB.salesforce.search(sosl: so

[2020-09-23 23:12] auctifera-josed opened #124 "Login not working after dismissed"
Hi everyone, some users are experiencing an issue with the login if they dismissed it by tapping outside the view controller (if they tap in the cancel button there is no problem)

We have a "Log in" button that calls the following code

[code]

Then the salesforce login is presented in a modal which works fine, but if the user taps outside the modal the login modal is dismissed and there is no wa

[2020-10-14 14:36] auctifera-josed commented on #18
Hi @mike4aday, I'm implementing this and hopefully will send you a PR about it but I can't seem to find the `salesforce.custom` function, I guess this was removed in a more recent version. Is `salesforce.request` what I would use to reach this custom endpoint?

[2020-10-14 18:28] auctifera-josed commented on #18
Nevermind, since `MobilePushServiceDevice` is a `sobjects` I was able to achieve this using the `salesforce.insert`

[code]

[2020-10-15 16:58] mike4aday commented on #18
Thanks @auctifera-josed

[2020-10-15 17:04] mike4aday commented on #124
@auctifera-josed - I did try to capture the tap outside the login form gesture, but didn't succeed. Seems to be a limitation of Apple's prescribed authentication mechanism using [ASWebAuthenticationSession](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession).

Another idea I had but haven't had time yet to prototype: Salesforce allows you to specify a diffe

[2020-10-15 17:22] mike4aday commented on #18
@auctifera-josed BTW I will restore the push service registration function in an upcoming release so you don't have to write your own function that calls `insert`

[2020-11-23 20:27] perbrondum opened #125 "Question: Best practices for querying if user is allowed to update object"
I can try to update object and fail, but was hoping for a better way.

[2020-11-23 23:40] mike4aday commented on #125
Hi @perbrondum - you can call the `describe` method [here](https://github.com/mike4aday/SwiftlySalesforce/blob/e5063a32178ded9269cb87dbdbc77940498d1f71/Sources/SwiftlySalesforce/Salesforce%2BDescribe.swift#L20), and the boolean `isUpdateable` property will tell you whether the current user can update the record.

[2020-11-27 23:46] #125 closed

[2020-12-08 18:29] perbrondum opened #126 "Composite resources support"
Batch/tree/composite.

If use batch but not sure if swiftlysalesforce supports tree and composite?

[2020-12-11 01:28] mike4aday commented on #126
Hi @perbrondum - since Swiftly Salesforce is a Swift Combine wrapper around the Salesforce REST APIs, you can use it for tree and composite endpoints, too. Swiftly Salesforce doesn't yet have 'out of the box' tree or composite methods, but you could call [`request`](https://github.com/mike4aday/SwiftlySalesforce/blob/e5063a32178ded9269cb87dbdbc77940498d1f71/Sources/SwiftlySalesforce/Salesforce.swi

[2020-12-11 15:10] perbrondum commented on #126
Thank you.

[2021-02-17 12:42] psycook commented on #101
Hi Mike,

I had a look at this requirement this morning and made some simple changes to `UserAgentFlow.swift` and `Salesforce+Image.swift` to use `NSApplication` and `NSImage` respectively (using preprocessors macros) and it seems to work nicely.  My app now runs on iOS and macOS with minimal changes.

 My testing has not been robust though.  Happy to share the code with you.

Simon

[2021-02-26 15:55] mike4aday commented on #101
Hi @psycook - I'd love to see the code. Would you post here, or open a pull request if that's easier. Thank you

[2021-06-06 20:24] perbrondum opened #128 "MyRecords() func assumes object has 'ownerId' column"
If the new MyRecords is to be used across objects it should not use 'ownerid' in predicate.

[2021-06-06 20:26] perbrondum opened #129 "Login migration path for Swift Apps"
Can you please outline a migration path for existing Apps using salesforce.query()?

Looks like SwiftlySalesforce no longer needs the global salesforce variable.
Can we still use the following:

struct DB {
    static let connectedApp: ConnectedApp = {
      let consumerKey = "CONS KEY"
      let callbackURL = URL(string: "CALL BACK")!
        return ConnectedApp(consumerKey: consumerKey, callback

[2021-06-06 22:24] mike4aday commented on #128
Hi @perbrondum not sure I understand your objection. [`myRecords`](https://github.com/mike4aday/SwiftlySalesforce/blob/cf4becddd63d1a4a6900da5ec3afd0fd87401b0b/Sources/SwiftlySalesforce/ConnectedApp%2BQuery.swift#L64) is meant to be a convenience method: callers don't have to know the logged-in user's ID, and the `OwnerId` is present on [most objects](https://developer.salesforce.com/docs/atlas.en

[2021-06-07 00:04] mike4aday commented on #129
@perbrondum - version 9 is designed to be more SwiftUI-friendly. It does away with the need for a global `salesforce` value, as you noted. And it doesn't have a `Salesforce` type, so the static variable you defined wouldn't compile.

If you create a file called `Salesforce.json` in your bundle and put the consumer key and callback URL there, you could create `ConnectedApp` wherever you need it, e.

[2021-06-07 00:07] mike4aday commented on #129
@perbrondum I'll close this issue - please re-open if I didn't address your question.

[2021-06-07 00:07] #129 closed

[2021-06-07 00:09] mike4aday commented on #128
@perbrondum I'll add a note to the documentation so it's more explicit that the `type` argument has to be for an SObject type that does have the `ownerId` field.

[2021-06-07 11:59] perbrondum commented on #128
Good points. We always use createdById (unless in object sharing mode) as
all objects have them and it has no ambiguity. OwnerId has implications for
delegation and makes assumptions on account model that are more complex and
as such most implementations have ownerId = createdById.

Per B Jakobsen
CEO  Tap2Sales.com
***@***.***

On Jun 7, 2021 at 2:09:52 AM, Michael Epstein ***@***.***>
wrote:

[2021-06-07 12:08] perbrondum commented on #129
I actually tried using ConnectedApp():

ConnectedApp().query(soql:  “Select ID from account”)

But in my case it fails with 'Generic parameter 'T' could not be inferred’

Per B Jakobsen
CEO  Tap2Sales.com
***@***.***

On Jun 7, 2021 at 2:04:59 AM, Michael Epstein ***@***.***>
wrote:

[2021-06-07 12:26] perbrondum commented on #129
Or in the original context:

        *var* subscriptions = Set<AnyCancellable>()

        ConnectedApp().query(soql: "SELECT Id FROM Account", allowsLogin:
*true*).sink(receiveCompletion: { (completion) *in*

            *switch* completion {

            *case* *let* .failure(error):

                print("Failed to execute 2 queries in insert content, Error
: \(error)")

            *case* .fin

[2021-06-07 15:22] mike4aday commented on #128
@perbrondum Cases and Accounts, for example, are routinely reassigned after creation and then would have CreatedById != OwnerId no?

[2021-06-07 15:29] mike4aday commented on #129
@perbrondum the compiler just needs a hint about the type of value received, for example:
[code]

(And any errors thrown by `ConnectedApp( )` have to be handled)

[2021-06-07 15:34] perbrondum commented on #128
Exactly.

Per

[2021-06-07 16:25] perbrondum commented on #129
Thank you.

        *var* subscriptions = Set<AnyCancellable>()

        *do* {

            *try*? ConnectedApp().query(soql: "SELECT Id FROM Account",
allowsLogin: *true*).sink(receiveCompletion: { (completion) *in*

                *switch* completion {

                *case* *let* .failure(error):

                    print("Failed to execute query in insert content, Error
: \(error)")

[2021-06-07 16:47] mike4aday commented on #128
@perbrondum I don't understand - if I'm interested in querying records I own, e.g. cases or accounts for which I'm responsible, and regardless of who or what process originally created the records, then querying for records where my user ID equals the records' CreatedById wouldn't work, no?

[2021-06-07 17:22] perbrondum commented on #128
Correct.  OwnerId was added to denote assignment or delegation.  So, in
account sharing mode, the owner creates events with createdById !=
ownerId.  No disagreement here.

My original objection was that ownerId was added to a func that accepts all
object types.

Per B Jakobsen
CEO  Tap2Sales.com
***@***.***

On Jun 7, 2021 at 6:48:09 PM, Michael Epstein ***@***.***>
wrote:

[2021-06-07 17:47] mike4aday commented on #128
@perbrondum thanks. I added a note to the documentation that the method is for types with `OwnerId` field and reference to docs.

[2021-06-07 17:47] #128 closed

[2021-07-24 18:48] perbrondum opened #132 "Support for Anonymous Apex?"
Trying to truncate custom objects via the API i've hit a dead stop. One workaround would be to execute the following Apex:
//
List<WIWO_Content__c> contentDelete = New List<WIWO_Content__c>();
contentDelete = [SELECT CreatedById FROM WIWO_Content__c LIMIT 10000];
delete contentDelete;
//
Is there some way to call Anonymous Apex inside SwiftlySalesforce?

[2021-07-28 16:36] mike4aday commented on #132
Hi @perbrondum - yes, you could execute anonymous Apex by creating your own struct that conforms to Swiftly Salesforce's [Service protocol](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Sources/SwiftlySalesforce/Service.swift) (example [here](https://github.com/mike4aday/SwiftlySalesforce/blob/master/Sources/SwiftlySalesforce/Services/SObjectsService.swift)) and calls the Salesforce T

[2021-07-28 20:35] perbrondum commented on #132
Cool. Thanks. We will try that.

We tried the apex REST call but got stuck on getting access to the sessionId. Is there a trick to get the sessionId from connectedApp inside swift?

Thanks again for supporting swiftlysalesforce.

Per

[2021-07-29 19:36] mike4aday commented on #132
@perbrondum if you use Swiftly Salesforce's [`apex`](https://github.com/mike4aday/SwiftlySalesforce/blob/60c9506808b3c4e62f5f1cbfbd9c6e8061458315/Sources/SwiftlySalesforce/ConnectedApp%2BApex.swift#L29) method then you won't need the session ID. You just need to provide the method arguments (or accept the defaults if applicable).

If you do need to retrieve the access token, you could get it via `

[2021-07-29 19:52] perbrondum commented on #132
Awesome. Thank you.

Per

[2021-07-29 22:03] perbrondum commented on #132
This is very cool, except I can’t seem to get the return type right (which
I assume is json with status of the job).

    *private* *func* bulkDeleteContent(type: contentSegment) {

        DB.salesforce.identity().sink(receiveCompletion: { (completion) *in*

            *switch* completion {

            *case* .finished:

                *break*

            *case* *let* .failure(error) :

[2021-07-30 20:53] mike4aday commented on #132
Hi @perbrondum It's difficult for me to follow the unformatted code, but let me offer this:
* For the `path` argument that you pass to the `apex` method: you don't need the instance name, but only the string value you defined in the corresponding Apex class' `urlMapping` attribute of the `@RestResource` annotation. (Swiftly Salesforce knows the instance name upon user authentication and `services/

[2021-07-30 20:55] mike4aday commented on #132
@perbrondum [here's an example](https://github.com/mike4aday/SwiftlySalesforce/blob/60c9506808b3c4e62f5f1cbfbd9c6e8061458315/Tests/SwiftlySalesforceTests/ConnectedApp_Apex_Tests.swift#L12) of calling an Apex method exposed as a REST endpoint. The `@RestResource` annotation is `RandomAccount` which returns a Salesforce Account record.

[2021-08-01 14:58] perbrondum opened #133 "Error in fields array: Protocol 'Encodable' as a type cannot conform to the protocol itself"
Used to use [String : Encodable] as type for fields array.  In 9.0 Error: Protocol 'Encodable' as a type cannot conform to the protocol itself
[code]

[2021-08-01 15:20] perbrondum opened #134 "salesforce.search() replacement? in 9.0"
Is there a replacement for .search(sosl:) in 9.0.5

[2021-08-02 14:12] #132 closed

[2021-08-04 15:11] mike4aday commented on #134
@perbrondum no, I haven't had the chance yet to create an 'out of box' search method in Swiftly Salesforce v9. You could create your own search capability relatively easily: create a custom struct that implements the `Service` protocol -- see [QueryService](https://github.com/mike4aday/SwiftlySalesforce/blob/60c9506808b3c4e62f5f1cbfbd9c6e8061458315/Sources/SwiftlySalesforce/Services/QueryService.s

[2021-08-04 15:11] #134 closed

[2021-08-04 16:34] mike4aday commented on #133
Hi @perbrondum see: https://stackoverflow.com/questions/62252547/value-of-protocol-type-encodable-cannot-conform-to-encodable-only-struct-en

[2021-08-04 17:33] perbrondum commented on #133
So this is more of a swift issue and not related to swiftlysalesforce 9.

Thanks.
Per

[2021-08-04 19:54] mike4aday commented on #133
@perbrondum yes, correct. Try a concrete type that conforms to `Encodable` instead, e.g. `let fields: [String: String] = ...`

[2021-08-04 20:31] perbrondum commented on #134
Ok, thanks.

Per

[2021-08-04 21:19] perbrondum commented on #133
The whole point about using Encodable, I thought, was to use Encodable
(Any) as field values can be a mix of strings/int/Double/Dates.

Most values are Strings, but Account.AnnualRevenue is an Int,
Opportunity.Amount is a Double etc.

Per B Jakobsen
CEO  Tap2Sales.com
***@***.***

On Aug 4, 2021 at 9:54:49 PM, Michael Epstein ***@***.***>
wrote:

[2021-08-05 10:01] perbrondum commented on #133
I tried installing AnyCodable, but that just seems to create more issues.

Are you saying we can pass all values as strings?  Consider this:

*let* eventFields : [String : Encodable] = [keys.Subject.rawValue: *self*.
NewSubject.text! ,"whatId": *self*.eventWhatId!, "whoId": *self*.eventWhoId!
, "StartDateTime": startDateTimeStr!, "EndDateTime": endDateTimeStr!,
"DurationInMinutes": minutesInt!, "I

[2021-08-05 10:52] perbrondum commented on #133
I had no idea we could pass all fields as Strings. Was that always the
case?  Makes life so much easier. Thanks

*private* *func* createRecord() *throws* {

    *let* app = *try* ConnectedApp()

    *let* oneHour: TimeInterval = 24 * 3600

    *let* dateFormatter = DateFormatter()

    dateFormatter.dateFormat = "yyyy-MM-dd'T'HH:mm:ssZ"

    *let* startDateTimeStr    = dateFormatter.string(from: D

[2021-08-05 17:55] perbrondum opened #135 "'group by' count() soql fails in 9.0"
SELECT  activitydate,  status,  Count(Id) Cnt
            FROM task
            WHERE  isdeleted = false
            GROUP BY activitydate, status

used to work, now it fails with :
Error: keyNotFound(CodingKeys(stringValue: "url", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "records", intValue: nil), _JSONKey(stringValue: "Index 0", intValue: 0), RecordCodingK

[2021-08-05 18:24] mike4aday commented on #133
@perbrondum as long as Salesforce can deserialize the JSON values from string into the expected type it should work.

FYI you could use Swiftly Salesforce's date formatter and a value map on the fields dictionary:

[code]

[2021-08-05 18:58] mike4aday commented on #135
@perbrondum would you post your (formatted) code, please?

[2021-08-05 19:52] perbrondum commented on #135
[code]

[2021-08-05 19:56] perbrondum commented on #135
You get the error when you add the GROUP clause.  The count is not really relevant.

[2021-08-06 15:16] perbrondum opened #136 "WebAuthenticator.swift:50:30: 'shared' is unavailable in application extensions for iOS"
XCode BETA 13.4 raises this error.

[2021-08-06 17:40] mike4aday commented on #136
Thanks @perbrondum

[2021-08-06 17:41] #133 closed

[2021-08-10 14:17] perbrondum commented on #135
Similar results from use of Max in select list (I assume it's using 'group by' internally).
[code]

[2021-08-10 18:24] mike4aday commented on #135
Thanks @perbrondum - yes, any aggregating function in the query will cause the error. It's my fault - I re-introduced an error in ver. 9 that I had corrected in ver. 7. The current code expects the result to contain an array of records, each with an IDs. But Salesforce returns a list of `AggregateResult` "records" when an aggregating function is used, and there is no ID. I'll fix it ASAP - trying

[2021-08-18 20:06] perbrondum commented on #135
Is branch V9-fix-135 the fix for the bug?

[2021-08-18 20:33] mike4aday commented on #135
@perbrondum it is -- but the fix isn't in there yet. I haven't had time yet to implement the fix. If you are blocked by the bug, I will accelerate the fix and try to get it done this week. I will notify you once ready. Thx

[2021-08-18 21:01] perbrondum commented on #135
I have (unfortunately) added some new features (on 9) that I’d love to show
to some people next week, so I’d love to see a fix.

Thanks a lot.

Per

On Aug 18, 2021 at 10:34:04 PM, Michael Epstein ***@***.***>
wrote:

[2021-08-22 19:43] perbrondum opened #137 "keyNotFound "id" error on simple query"
// Fails in 9.06 BETA with:

keyNotFound(CodingKeys(stringValue: "Id", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "records", intValue: nil), _JSONKey(stringValue: "Index 0", intValue: 0)], debugDescription: "No value associated with key CodingKeys(stringValue: \"Id\", intValue: nil) (\"Id\").", underlyingError: nil))

when using <USER>, works when using <Sales

[2021-08-22 19:46] perbrondum commented on #137
line 5: Should read "fails when using USER struct, works when using SALESFORCERECORD"

[2021-08-22 20:13] perbrondum commented on #135
Thanks a lot for fixing this. Looks like I was able to pass all our tests with this fix.

[2021-08-22 22:55] mike4aday commented on #135
@perbrondum good to hear. I didn't have time to test yet - as soon as I have some working unit tests (and figure out what's wrong per issue #137 that you opened) I will merge into main branch.

[2021-10-19 02:51] mike4aday commented on #137
@perbrondum I believe the issue is that the "Id" field is not in the list of queried fields in your SOQL query; only `CompanyName` is queried. Does it work if you add `Id` to the queried field list?

[2021-10-19 02:53] #124 closed

[2021-10-21 23:10] perbrondum commented on #137
Sorry, just saw this. While id is not needed in the select list, I will check tomorrow if the bug still exists with it in.

[2021-11-01 19:00] mike4aday commented on #137
Hi @perbrondum - I assume `User` is a custom model struct you defined? If so, then any property defined as optional will work since the automatic decoding provided by Swiftly Salesforce via Swift's `Decodable` protocol will not throw an error if the server response is missing a value for that property. If the property is required, however, then it must be present in the JSON response, and the rele

[2021-11-01 19:05] #137 closed

[2021-11-01 19:21] perbrondum commented on #137
Makes sense.  Thanks for looking into this.

Per B Jakobsen
CEO  Tap2Sales.com
***@***.***

On Mon, Nov 1, 2021 at 8:05 PM Michael Epstein ***@***.***>
wrote:

[2021-11-01 19:23] perbrondum commented on #135
Have you decided on a V9 or V10 release for the fix?

[2021-11-01 20:47] mike4aday commented on #135
@perbrondum it'll be a minor release, updating version 9. I believe it's ready, but I wanted to do more testing before release. (For version 10, I'm considering a major release, in line with Apple's release of async/await in Swift 5.5.)

[2021-11-02 00:06] perbrondum commented on #135
Awesome on both. We’ve started using async/await and can’t wait to see that in 10.

Per

[2021-12-10 03:15] perbrondum opened #138 "Query with date predicate fail"
Simple Date SOQL statement fails in 9.0.6
"select name from account where lastmodifiedDate > 2023-01-01T12:00:00.000+0100"

fails with:
"Query Error : SalesforceError(code: "MALFORMED_QUERY", message: "\nlastmodifiedDate > 2023-01-01T12:00:00.000 0100\n                                         ^\nERROR at Row:2:Column:48\nline 2:48 no viable alternative at character \' \'", fields: nil)"

testcase:

[2021-12-10 03:19] perbrondum commented on #138
[code]

[2021-12-10 03:52] mike4aday commented on #138
@perbrondum the query will work if you use the date/time format `YYYY-MM-DDThh:mm:ssZ`i.e. `select name from account where lastmodifiedDate > 2023-01-01T11:00:00.000Z`(adjusted to GMT).

Your original query also fails with the same error when I try it in [Workbench](https://workbench.developerforce.com/login.php), so I don't believe the problem lies within Swiftly Salesforce. Per the [docs](https:

[2021-12-10 04:14] mike4aday commented on #138
@perbrondum -- sorry, disregard my last comment; it is indeed a bug in Swiftly Salesforce: I should have checked for "+" in the time zone offset and then URL-encoded it. For now, a workaround is to use UTC time format instead, i.e. `YYYY-MM-DDThh:mm:ssZ`

Thanks

[2021-12-11 22:01] perbrondum commented on #138
Thanks for the quick reply.

[2021-12-11 23:05] perbrondum commented on #138
Using "YYYY-MM-ddThh:mm:ssZ" returns "2021-12-11T21:21:53+0000" which has the same problem.

[2021-12-11 23:59] perbrondum commented on #138
Note that any query using predicate date qualifiers like LAST_N_DAYS:n will have the same issue.

[2021-12-12 18:37] mike4aday commented on #138
Thanks @perbrondum - I will fix this. I'm working on the version 10, and don't know yet whether it'll be faster to fix it there or in a minor release of version 9.

[2022-02-15 12:56] perbrondum commented on #135
Mike - Are you still considering a 9 release for this fix or is it pushed to R10? Thanks.

[2022-02-15 21:34] mike4aday commented on #135
@perbrondum - the fix will be in version 10. I'm working on v.10 now, writing tests and plan to release it soon.

[2022-02-16 12:17] perbrondum commented on #135
Good to know. Thanks for the update.

Can you share what will be in v10? We’re very interested in anything that
will break connection/SFDC access, Combine/Await? Will salesforce.search
make it back?

Trying to prepare :)

Per B Jakobsen
CEO  Tap2Sales.com
***@***.***

On Feb 15, 2022 at 10:34:22 PM, Michael Epstein ***@***.***>
wrote:

[2022-02-17 13:56] mike4aday commented on #135
@perbrondum the major change in v10 will be async/await. I will try to reintroduce SOSL search in v10.0, but if I can't, I'll start working on that for v10.1 as soon as possible. Thanks

[2022-02-17 17:32] perbrondum commented on #135
We replaced all SOSL calls w SOQL for now, but would certainly like it back. It’s just more flexible and powerful across objects.

Thanks

Per

[2022-02-17 20:55] mike4aday commented on #135
Thanks @perbrondum - good for me to know what's useful.

[2022-03-29 02:59] mike4aday commented on #138
Fixed in version 10.0.0

[2022-03-29 02:59] #138 closed

[2022-03-29 03:00] mike4aday commented on #135
Fixed in version 10.0.0

[2022-03-29 03:00] #135 closed

[2022-03-29 16:46] mike4aday commented on #135
Thank you @perbrondum. I am loving async/await so far - so much simpler to follow, and requires much less code, as you noted. And thanks to the new Actor type, even multiple OAuth requests emanating simultaneously from different places in the code are easily 'bundled' into a single call. (The flip side is that I had to remove, for now at least, the ability to disable the automatic re-authenticatio

[2022-03-29 17:37] mike4aday opened #142 "Minor doc bug"
Incomplete sentence:
https://github.com/mike4aday/SwiftlySalesforce/blob/fa9b051a9c857b09ae17b091a5db7210fa1dedd4/Sources/SwiftlySalesforce/Connection%2BAPI.swift#L5

[2022-03-30 03:22] mike4aday commented on #142
Fixed in v10.0.1

[2022-03-30 03:22] #142 closed

[2022-04-05 14:41] perbrondum opened #144 "Is there another way to perform salesforce.nextResultPage in V10?"

[2022-04-14 15:19] mike4aday commented on #144
@perbrondum sorry, I missed this issue. I neglected to include a 'convenience' method in `Connection+API.swift` but you could quickly create your own:
[code]

I will add this to `Connection+API.swift` for next release.

[2022-04-14 17:19] perbrondum commented on #135
Mike — Took me some time to convert, but everything is working (but for
issue #114, which you just commented on, thanks)

Here’s a (very short) list of the issues we encountered. Most of the work
was removing code, learning async/await/Task/Actor (ongoing).

 1. TASK object conflicts with Swift 5.5 Task() and the Swift error message
was not helpful, so that’s 2 hours I’ll never get back :).

 2. W

[2022-04-14 17:37] perbrondum commented on #144
I tried to create the extension:

[code]
But I get:  'Query' is inaccessible due to 'internal' protection level

[2022-04-14 22:13] mike4aday commented on #144
Sorry @perbrondum - since `Query` is inaccessible, you could instead just create your own struct by copying `Resource.Query.NextResults` as:

[code]

and then in your extension:

[code]

(Or you could define the struct above within the extension method if the struct won't be reused elsewhere.)

[2022-04-15 01:45] mike4aday commented on #135
@perbrondum re. the issues you mentioned:
1) Is `TASK` a custom object that you created to represent the Salesforce Task sObject?
2) I'll be interested to know what you learn about this. I'm using Swiftly Salesforce with SwiftUI on a project, so haven't dealt with UIKit issues.
3) I will fix that asap -- please see issue #144 for a workaround in the meantime
Thank you for the feedback.

[2022-04-15 11:40] perbrondum commented on #135
1. Yes. Renaming the object fixed the issue
2. I’ll probably do a write-up on how we ended up doing async concurrent and conseq salesforce queries. I’ll pas it along when done.
We used .zip a lot (loved it) and need that same behavior.
3. Thanks for the workaround.

Per

[2022-04-20 02:05] mike4aday opened #145 "Update links in README.md so they point to latest code version"
Currently the links point to code that predates the current version.

[2022-04-30 20:30] perbrondum commented on #144
That works, thanks. Is there a reason that nextResultsPage returns <QueryResult<Record> and not a generic?

[2022-05-01 18:29] mike4aday commented on #144
Hi @perbrondum not sure I understand your question - the above `nextResultsPage` method returns a `QueryResult<Record>` but you could modify it to return `QueryResult<T>` instead where `T` is your own custom `Decodable` type, and Swiftly Salesforce would automatically decode the result's records, if any, into that type. I included my own type, `Record`, for those who don't want to define their own

[2022-05-01 21:07] perbrondum commented on #144
I got the above to work with both Record and my own decodable type SFDCTask, by creating two versions of nextResultsPage. I tried but, my generics is not strong enough to be able to write a version of nextResultsPage that supports it.  My only concern was if the official version of nextResultsPage will support generics? Btw, one of the reasons I continue to use my own type [SFDCTask] is that I'm n

[2022-09-04 11:07] #144 closed, assigned to mike4aday

[2022-09-04 11:16] perbrondum commented on #102
I think I over complicated this request by driving the conversation into API cost. The real issue for us is that we need to generate X tasks instantaneously (or as fast as possible) so that a subsequent query either returns 0 or X records.
Having an update(object: , [SalesforceRecord]) that would return after creating X records would do just that.  I can image other scenarios where this could come

[2022-09-04 11:16] #136 closed

[2022-11-16 14:09] perbrondum opened #147 "Adding SwiftlySalesforce to new project adds V8.0 (master)"
Also complains about missing file "the file 'Swiftpm' doesn't exist.

[2022-11-16 14:28] perbrondum commented on #147
Have not done this in a while, so I tried multiple ways. Just adding SwiftlySalesforce assumes sets the version to 8 and I get the above. If I change to "up to next Major' and 10.0.1 I still get the error.  If I chose 'Add anyway' xcode adds it but fails to recognize it =, "No such module SwiftlySalesforce".  Am I doing smth. wrong here?

[2022-11-16 14:30] perbrondum commented on #147
Xcode 14.1/ Ventura 13.0

[2022-11-16 14:39] perbrondum commented on #147
Forget this.  I had renamed the project and confused xcode somehow. No need to investigate.

[2022-11-16 14:39] perbrondum commented on #147
Close.